<h1><%=@friend.email%></h1>
<div class="collection">
<% @devices.each do |device| %>
    <%= link_to show_device_user_friend_path(current_user.url_id, @friend, device_id: device.id), class:"collection-item" do %>
      <h4><%= device.name %></h4>
    <% end %>
<% end %>
</div>
