<% content_for :outside_container do %>
  <%= render 'users/shared/device_show' %>

  <div class="bottom-panel">
    <div id='dateRange'></div>
  </div>

  <script type="x-tmpl-mustache" id="markerPopupTmpl">
    <h3>ID: {{ id }}</h3>
    <ul>
      <li id="localTime">Created on: {{ created_at }}</li>
      <li>Latitude: {{ lat }}</li>
      <li>Longitude {{ lng }}</li>
      <li>Address: {{ address }}</li>
    </ul>
  </script>
<% end %>
