<% content_for :outside_container do %>
  <%= Gon::Base.render_data %>

  <ul class="tabs row">
    <li class="tab map col s6" id="mapTab"><a href="#map">Map</a></li>
    <li class="tab chart col s6" id="chartTab"><a href="#chart">Chart</a></li>
  </ul>

  <div id='chart'>
    <div id='bar-chart'></div>
    <div class='container'>
      <div id="table-chart"></div>
    </div>
  </div>

  <div id='map'></div>

  <div class="bottom-panel">
    <div id='dateRange'></div>
  </div>

  <script type="x-tmpl-mustache" id="markerPopupTmpl">
    <h3>ID: {{ id }}</h3>
    <ul>
      <li>Created on: {{ created_at }}</li>
      <li>Latitude: {{ lat }}</li>
      <li>Longitude {{ lng }}</li>
      <li>Address: {{ address }}</li>
    </ul>
  </script>
<% end %>
