<h1><%=friends_name(@friend)%></h1>
<% @devices.each do |device| %>
    <div class = "card">
      <%= link_to show_device_user_friend_path(current_user.url_id, @friend, device_id: device.id) do %>
        <h4><%= device.name %></h4>
      <% end %>
      <p>This device has <%= pluralize(device.checkins.count, 'checkin') %></p>
    </div>
<% end %>
