<h1><%=friends_name(@friend)%></h1>
<% @devices.each do |device| %>
    <div class = "card">
      <%= link_to show_device_user_friend_path(current_user.url_id, @friend, device_id: device.id) do %>
        <h5><%= device.name %></h5>
      <% end %>
      <p>This should say something interesting</p>
    </div>
<% end %>
