<h3>Your current connections are:</h3><br>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">G-RALA</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">G-BUFY</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>

<%= link_to("Create new connection", new_redbox_connection_path, class: "btn btn-primary btn-lg") %>