| Hi there!
= @from
|  has sent you an approval request on Coposition!
br/
| To respond, just follow this link: 
= link_to "approvals", @url

| Coposition Support

= link_to "Unsubscribe", settings_unsubscribe_url(id: @unsubscribe)
