<h1>Hi there!</h1>
<p>
  Someone has invited you to join Coposition, the new way to control and protect your personal location data.<br>
</p>
<p>
  To get started, just follow this link: <%= @url %>.
</p>
<p>Coposition Support</p>

