| Hi there!
| ===============================================

| Someone has invited you to join Coposition, the new way to control and protect your personal location data.

| To get started, just follow this link: 
= link_to "Sign up", @url

| Coposition Support
