<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there!</h1>
    <p>
      Someone has invited you to join Coposition, bla bla bla.<br>
    </p>
    <p>
      To get started, just follow this link: <%= link_to 'sign up', new_user_registration_url %>.
    </p>
    <p>Thanks.</p>
  </body>
</html>
