| Hi there!
| We have not received any check-ins from any of your devices this week, visit 
= link_to "this link", @url
|  to choose a device and check-in or download our mobile app.
| Coposition Support
= link_to "Unsubscribe", settings_unsubscribe_url(id: @unsubscribe)
