| Hi 
= @email
| ,
| We have not received any check-ins from any of your devices this week, visit 
= link_to "this link", @url
|  to choose a device and check-in or download our mobile app.
| You have not checked in on the following devices in over 3 months:
- if @inactive_devices.present?
  | You have not checked in on the following devices in over 3 months:
  - @inactive_devices.each do |device|
    = link_to device.name, @url + "/#{device.id}"
| Coposition Support
= link_to "Unsubscribe", settings_unsubscribe_url(id: @unsubscribe)
= link_to "Forgot your password?", @forgot_password
