<h1>Developer console</h1><br>
<h4>Soon, you'll see some really cool stuff here!</h4>
<br>
<p>
  Your <%= current_developer.company_name %> API key is <code><%= current_developer.api_key %></code>
</p>
<p>
  Take a look at your <br>
  <%= link_to("approvals", developers_approvals_path, class: "btn btn-default") %> 
</p>
<hr>
<br>
<img src="http://imgs.xkcd.com/comics/compiling.png"/>
<br>
<%= link_to("Sign out", destroy_developer_session_path, method: :delete, class: "btn btn-warning m-m") %>