<p>
	<% if @pending.present? %>

	  You have <%= @pending.length %> pending.

	<% else %>

	  You've got no approvals pending.

	<% end %>
</p>

<%= link_to("New approval", new_developers_approval_path, class: "btn") %>

<h3 class="">Users</h3>
<div class='collection'>
  <% @users.each do |user| %>
    <div class='collection-item'>
      <h6 class='collection-heading'><%= user.email %></h6>
    </div>
  <% end %>
</div>
