/* Slider */
@import url(/assets/slick-carousel/slick/slick-theme-b5217920e45e4fc2a69e5de216af6ed1a43f882e39c4c534e4c77668bf4d123b.css);
/* line 3, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 48, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 54, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 58, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 62, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 66, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 69, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-slide img {
  display: block;
}
/* line 72, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 78, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 82, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 86, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 90, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 96, /Users/Gary/Documents/earlymarket/Coposition/vendor/assets/bower_components/slick-carousel/slick/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 6, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.slick-dots li button:before {
  color: white;
}

/* line 9, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: white;
}

/* line 14, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Montserrat', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 21, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
html {
  box-sizing: border-box;
}

/* line 24, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
*, *:before, *:after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}
/* line 46, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #quicklinks {
  display: flex;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0;
}
/* line 58, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #quicklinks .quicklinks-items > * {
  margin-right: 0.7rem;
  line-height: 1.5rem;
}
/* line 63, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #quicklinks .current {
  color: #00d646;
}
@media (min-width: 600px) {
  /* line 46, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #quicklinks {
    line-height: 0.8rem;
  }
  /* line 71, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #quicklinks .lg-items-left {
    float: left;
  }
  /* line 75, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #quicklinks .lg-items-right {
    float: right;
    margin-left: 0.7rem;
    margin-right: 0;
  }
}
/* line 84, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu {
  padding: 0.6rem 0;
  position: relative;
  z-index: 100;
  background: white;
}
/* line 90, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu i {
  font-size: 48px;
}
/* line 94, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .top-menu-left {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) {
  /* line 94, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #top-menu .top-menu-left {
    float: none;
  }
}
/* line 104, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .top-menu-left .brandname {
  font-size: 1.4rem;
  display: inline-block;
}
@media (min-width: 600px) {
  /* line 104, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #top-menu .top-menu-left .brandname {
    font-size: 2.4rem;
    margin-left: 1rem;
  }
}
/* line 116, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .top-menu-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
/* line 122, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .top-menu-right > * {
  margin-left: 2vw;
  font-size: 1rem;
}
/* line 129, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu #mobile-menu {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}
/* line 137, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 0.6rem;
  padding-right: 7.1429%;
  width: 100%;
  background: white;
  list-style: none;
  display: block;
  z-index: 100;
  text-align: right;
}
@media (min-width: 600px) {
  /* line 137, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #top-menu .dropdown {
    display: none;
  }
}
/* line 156, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .dropdown > * {
  padding: 0.5rem 0;
  text-transform: capitalize;
}
/* line 159, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu .dropdown > * .current {
  color: #00d646;
}
/* line 164, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #top-menu #mobile-menu:checked ~ .dropdown {
  opacity: 0;
  z-index: -10;
}
/* line 171, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control {
  background: url(/assets/bg-38ffa352763291444cc3c4e95c238fe0f764d56b003042596ff647295007d012.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: auto;
}
@media (min-width: 600px) {
  /* line 171, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #take-control {
    height: 768px;
  }
}
/* line 182, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .ringed-logo {
  position: absolute;
  top: -139px;
  left: calc(-596px + 10vw);
}
@media (min-width: 600px) {
  /* line 182, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #take-control .ringed-logo {
    top: 0;
    left: calc(50vw - 600px);
    z-index: 10;
  }
}
/* line 194, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .take-control-content {
  position: relative;
  z-index: 100;
}
/* line 199, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .take-control-left {
  text-align: center;
}
/* line 203, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .take-control-phones {
  width: 100%;
  max-width: 382px;
}
/* line 208, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .take-control-content {
  color: white;
  margin-top: 130px;
  margin-bottom: 1rem;
  margin-left: 10%;
  width: 80%;
}
/* line 215, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .take-control-content .title {
  font-size: 2.2rem;
}
/* line 220, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #take-control .take-control-content .pitch {
  font-size: 1.2rem;
}
@media (min-width: 600px) {
  /* line 208, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #take-control .take-control-content {
    margin-top: 260px;
    margin-left: 0;
    width: 50%;
  }
}
/* line 235, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #callouts {
  color: white;
  text-align: center;
}
/* line 239, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #callouts > .cell {
  padding: 5em 2em;
  background: #252525;
}
/* line 243, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #callouts > .cell .title {
  font-size: 1rem;
}
/* line 247, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #callouts > .cell .text {
  font-size: 1rem;
  color: #959595;
}
/* line 255, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #callouts > .cell-contrast {
  background: #1a1a1a;
}
/* line 259, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #callouts .gh-logo {
  font-size: 65px;
  color: #008ecf;
}
/* line 266, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #location-map {
  display: flex;
  height: auto;
  background-image: linear-gradient(90deg, #08244f, #1d727a);
  color: white;
  padding: 2rem;
}
@media (min-width: 600px) {
  /* line 266, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #location-map {
    height: 75vh;
  }
}
/* line 277, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #location-map .map {
  background-image: url(/assets/location-callout-map-e02715a3ee570c72db9832d47b5f6fccaf81602d64778b72d645dab5ed8cc19f.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 285, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #location-map .text .caption {
  font-size: 1.8rem;
}
/* line 290, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #location-map .text .btn {
  background: #fb1d4f;
}
/* line 296, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #benefits {
  text-align: center;
  padding: 5em 0;
  color: white;
  background: #252525;
}
/* line 302, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #benefits .headline {
  padding: 0 2rem;
}
/* line 310, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #benefits .cell-wrapper {
  display: flex;
  flex-flow: row wrap;
}
/* line 314, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #benefits .cell {
  width: 300px;
  flex-grow: 1;
  text-align: center;
  padding: 0 2rem;
}
/* line 321, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #benefits .cell .cell-title {
  font-size: 1rem;
}
/* line 325, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #benefits .cell .cell-description {
  font-size: 1rem;
  color: #959595;
  max-width: 300px;
  margin: 1rem auto;
}
/* line 335, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #get-enabled {
  background-image: url(/assets/enabled-tile-3b6da5d2ed68fc76fb53b688ffa9621ebeef91ca43f91d81f7b63b186ec7ef20.png), linear-gradient(#dbfdff 10%, rgba(224, 255, 255, 0.3), #dbfdff);
  background-blend-mode: overlay;
  position: relative;
}
@media (min-width: 600px) {
  /* line 335, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #get-enabled {
    height: 600px;
  }
}
/* line 343, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #get-enabled .valign-wrapper {
  justify-content: center;
}
/* line 347, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #get-enabled .card {
  position: relative;
  background: white;
  height: 100%;
  padding: 1rem;
  text-align: left;
}
@media (min-width: 600px) {
  /* line 347, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #get-enabled .card {
    width: 57.1429%;
    min-width: 530px;
    padding: 2rem 6rem;
    box-shadow: 0 3px 4px darkgray;
    text-align: center;
    height: initial;
  }
}
@media (min-width: 600px) {
  /* line 362, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .placeholder #get-enabled .card #trustmark {
    position: absolute;
    top: -30px;
    left: -30px;
  }
}
/* line 370, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #get-enabled .card .card-title {
  font-size: 2rem;
}
/* line 378, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #get-enabled .card .card-pitch {
  font-size: 1.3rem;
}
/* line 382, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #get-enabled .card .card-description {
  font-size: 0.9rem;
}
/* line 388, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #bottom-callout {
  background-image: url(/assets/logo-rings-footer-1c9c618495b04590d950cbc777687a897a806edc62af096d33161032828f4257.png), linear-gradient(90deg, #08244f, #1d727a);
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 400, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #bottom-callout .wrapper {
  max-width: 40rem;
  text-align: center;
  position: relative;
  padding: 0 2rem;
}
/* line 406, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #bottom-callout .wrapper .wrapper-pitch {
  font-size: 1.3rem;
}
/* line 410, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #bottom-callout .wrapper .wrapper-description {
  font-size: 1.2rem;
  color: #008ecf;
}
/* line 418, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #bottom-bar {
  text-align: center;
  background: #141414;
  color: white;
  padding: 3rem 0;
}
/* line 424, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.placeholder #bottom-bar .copy-notice {
  font-size: 0.8rem;
}

/* line 433, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
a {
  text-decoration: none;
  color: inherit;
}

/* line 440, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 2px;
  border-radius: 5px;
}
/* line 448, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.btn.btn-primary {
  background: #34c946;
}
/* line 452, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.btn.btn-blue {
  background: #008ecf;
}
/* line 456, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.btn.btn-alternate {
  background: #fb1d4f;
}
/* line 460, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.btn.btn-inverse {
  color: #279ac5;
  border: solid 2px #279ac5;
}
/* line 465, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.btn.btn-large {
  padding: 1rem 1.5rem;
}

/* line 472, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.font-heavy, .placeholder #top-menu .top-menu-left .brandname, .placeholder #take-control .take-control-content .title, .placeholder #location-map .text .caption {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* line 477, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.font-medium, .placeholder #bottom-callout .wrapper .wrapper-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* line 482, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.font-light, .placeholder #take-control .take-control-content .pitch, .placeholder #callouts > .cell .text, .placeholder #benefits .headline .tagline, .placeholder #benefits .cell .cell-description, .placeholder #get-enabled .card .card-pitch, .placeholder #get-enabled .card .card-description, .placeholder #bottom-bar .copy-notice {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

/* line 489, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.ringed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 167px;
  height: 178px;
  background-image: url(/assets/icons/icon-rings-11bebcc347d22bbbba2bac5a6079ea912466e2d4733ee5a6f84b79eb8942f631.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 502, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.valign-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

/* line 508, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.valign {
  display: inline-block;
}

/* line 512, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.filled-row {
  display: flex;
}
@media (max-width: 599px) {
  /* line 512, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .filled-row {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  /* line 521, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .lg-hide {
    display: none;
  }

  /* line 525, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .lg-show-inl {
    display: inline;
  }

  /* line 529, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .lg-show-bl {
    display: block;
  }

  /* line 533, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .lg-show-ib {
    display: inline-block;
  }

  /* line 537, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .lg-show-flex {
    display: flex;
  }
}
@media (max-width: 599px) {
  /* line 543, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .sm-hide {
    display: none !important;
  }
}
/* line 551, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-7,
.pure-u-2-7,
.pure-u-3-7,
.pure-u-4-7,
.pure-u-5-7,
.pure-u-6-7,
.pure-u-1-14,
.pure-u-2-14,
.pure-u-3-14,
.pure-u-4-14,
.pure-u-5-14,
.pure-u-6-14,
.pure-u-7-14,
.pure-u-8-14,
.pure-u-9-14,
.pure-u-10-14,
.pure-u-11-14,
.pure-u-12-14,
.pure-u-13-14,
.pure-u-14-14 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/* line 583, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-1-14 {
  width: 7.1429%;
  *width: 7.1119%;
}

/* line 588, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-1-7,
.pure-u-2-14 {
  width: 14.2857%;
  *width: 14.2547%;
}

/* line 594, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-3-14 {
  width: 21.4286%;
  *width: 21.3976%;
}

/* line 599, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-2-7,
.pure-u-4-14 {
  width: 28.5714%;
  *width: 28.5404%;
}

/* line 605, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-5-14 {
  width: 35.7143%;
  *width: 35.6833%;
}

/* line 610, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-3-7,
.pure-u-6-14 {
  width: 42.8571%;
  *width: 42.8261%;
}

/* line 616, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-1-2,
.pure-u-7-14 {
  width: 50%;
  *width: 49.9690%;
}

/* line 622, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-4-7,
.pure-u-8-14 {
  width: 57.1429%;
  *width: 57.1119%;
}

/* line 628, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-9-14 {
  width: 64.2857%;
  *width: 64.2547%;
}

/* line 633, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-5-7,
.pure-u-10-14 {
  width: 71.4286%;
  *width: 71.3976%;
}

/* line 639, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-11-14 {
  width: 78.5714%;
  *width: 78.5404%;
}

/* line 644, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-6-7,
.pure-u-12-14 {
  width: 85.7143%;
  *width: 85.6833%;
}

/* line 650, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-13-14 {
  width: 92.8571%;
  *width: 92.8261%;
}

/* line 655, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
.pure-u-1,
.pure-u-1-1,
.pure-u-14-14 {
  width: 100%;
}

@media screen and (min-width: 35.5em) {
  /* line 662, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-7,
  .pure-u-sm-2-7,
  .pure-u-sm-3-7,
  .pure-u-sm-4-7,
  .pure-u-sm-5-7,
  .pure-u-sm-6-7,
  .pure-u-sm-1-14,
  .pure-u-sm-2-14,
  .pure-u-sm-3-14,
  .pure-u-sm-4-14,
  .pure-u-sm-5-14,
  .pure-u-sm-6-14,
  .pure-u-sm-7-14,
  .pure-u-sm-8-14,
  .pure-u-sm-9-14,
  .pure-u-sm-10-14,
  .pure-u-sm-11-14,
  .pure-u-sm-12-14,
  .pure-u-sm-13-14,
  .pure-u-sm-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 694, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  /* line 699, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-1-7,
  .pure-u-sm-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  /* line 705, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  /* line 710, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-2-7,
  .pure-u-sm-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  /* line 716, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  /* line 721, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-3-7,
  .pure-u-sm-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  /* line 727, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-1-2,
  .pure-u-sm-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 733, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-4-7,
  .pure-u-sm-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  /* line 739, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  /* line 744, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-5-7,
  .pure-u-sm-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  /* line 750, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  /* line 755, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-6-7,
  .pure-u-sm-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  /* line 761, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  /* line 766, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-14-14 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  /* line 774, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-7,
  .pure-u-md-2-7,
  .pure-u-md-3-7,
  .pure-u-md-4-7,
  .pure-u-md-5-7,
  .pure-u-md-6-7,
  .pure-u-md-1-14,
  .pure-u-md-2-14,
  .pure-u-md-3-14,
  .pure-u-md-4-14,
  .pure-u-md-5-14,
  .pure-u-md-6-14,
  .pure-u-md-7-14,
  .pure-u-md-8-14,
  .pure-u-md-9-14,
  .pure-u-md-10-14,
  .pure-u-md-11-14,
  .pure-u-md-12-14,
  .pure-u-md-13-14,
  .pure-u-md-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 806, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  /* line 811, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-1-7,
  .pure-u-md-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  /* line 817, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  /* line 822, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-2-7,
  .pure-u-md-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  /* line 828, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  /* line 833, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-3-7,
  .pure-u-md-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  /* line 839, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-1-2,
  .pure-u-md-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 845, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-4-7,
  .pure-u-md-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  /* line 851, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  /* line 856, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-5-7,
  .pure-u-md-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  /* line 862, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  /* line 867, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-6-7,
  .pure-u-md-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  /* line 873, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  /* line 878, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-14-14 {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  /* line 887, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-7,
  .pure-u-lg-2-7,
  .pure-u-lg-3-7,
  .pure-u-lg-4-7,
  .pure-u-lg-5-7,
  .pure-u-lg-6-7,
  .pure-u-lg-1-14,
  .pure-u-lg-2-14,
  .pure-u-lg-3-14,
  .pure-u-lg-4-14,
  .pure-u-lg-5-14,
  .pure-u-lg-6-14,
  .pure-u-lg-7-14,
  .pure-u-lg-8-14,
  .pure-u-lg-9-14,
  .pure-u-lg-10-14,
  .pure-u-lg-11-14,
  .pure-u-lg-12-14,
  .pure-u-lg-13-14,
  .pure-u-lg-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 919, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  /* line 924, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-1-7,
  .pure-u-lg-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  /* line 930, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  /* line 935, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-2-7,
  .pure-u-lg-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  /* line 941, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  /* line 946, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-3-7,
  .pure-u-lg-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  /* line 952, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-1-2,
  .pure-u-lg-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 958, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-4-7,
  .pure-u-lg-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  /* line 964, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  /* line 969, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-5-7,
  .pure-u-lg-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  /* line 975, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  /* line 980, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-6-7,
  .pure-u-lg-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  /* line 986, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  /* line 991, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-14-14 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  /* line 999, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-7,
  .pure-u-xl-2-7,
  .pure-u-xl-3-7,
  .pure-u-xl-4-7,
  .pure-u-xl-5-7,
  .pure-u-xl-6-7,
  .pure-u-xl-1-14,
  .pure-u-xl-2-14,
  .pure-u-xl-3-14,
  .pure-u-xl-4-14,
  .pure-u-xl-5-14,
  .pure-u-xl-6-14,
  .pure-u-xl-7-14,
  .pure-u-xl-8-14,
  .pure-u-xl-9-14,
  .pure-u-xl-10-14,
  .pure-u-xl-11-14,
  .pure-u-xl-12-14,
  .pure-u-xl-13-14,
  .pure-u-xl-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 1031, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  /* line 1036, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-1-7,
  .pure-u-xl-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  /* line 1042, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  /* line 1047, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-2-7,
  .pure-u-xl-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  /* line 1053, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  /* line 1058, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-3-7,
  .pure-u-xl-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  /* line 1064, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-1-2,
  .pure-u-xl-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 1070, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-4-7,
  .pure-u-xl-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  /* line 1076, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  /* line 1081, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-5-7,
  .pure-u-xl-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  /* line 1087, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  /* line 1092, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-6-7,
  .pure-u-xl-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  /* line 1098, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  /* line 1103, /Users/Gary/Documents/earlymarket/Coposition/app/assets/stylesheets/placeholder.scss.erb */
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-14-14 {
    width: 100%;
  }
}
