<div id='gonvariables'><%= Gon::Base.render_data %></div>

<ul class="tabs row">
  <li class="tab map col s6" id="mapTab"><a href="#map">Map</a></li>
  <li class="tab chart col s6" id="chartTab"><a href="#chart">Table</a></li>
</ul>

<div id='chart'>
  <div class='container'>
    <div id="table-chart"></div>
  </div>
</div>

<div id='map'>
  <div id='device-name' class='left'>Friend: <%=@presenter.friend.username%><br>Device: <%=@presenter.device.name%></div>
</div>
