<div id='gonvariables'><%= Gon::Base.render_data %></div>

<ul class="tabs row">
  <li class="tab map col s6" id="mapTab"><a href="#map">Map</a></li>
  <li class="tab chart col s6" id="chartTab"><a href="#chart">Chart</a></li>
</ul>

<div id='chart'>
  <div id='bar-chart'></div>
  <div class='container'>
    <div id="table-chart" class="valign-wrapper"></div>
  </div>
</div>

<div id='map'></div>
