<div id='gonvariables'>
  <%= Gon::Base.render_data %>
</div>
<div id='device-name'class="valign-wrapper">
  <i class="material-icons medium">
    <%= @presenter.device.icon %>
  </i>
  &nbsp;
  <%= @presenter.device.name %>
</div>

<div class="myProgress">
  <div class="myDeterminate" style="width: 0%"></div>
</div>

<div id='map'></div>
