#gonvariables
  = Gon::Base.render_data
#device-name.valign-wrapper
  i.material-icons.medium
    = @device_show_presenter.device.icon
  |  
  | #{@device_show_presenter.device.name}
.myProgress
  .myDeterminate style=("width: 0%") 
ul#filters.date-select.collapsible
  li
    #date-range-toggle.collapsible-header data-onOpen="dateRangeOpen" data-onClose="dateRangeClose"
      | Select a date range
      i.material-icons.collapse-mark.right expand_more
    .collapsible-body
      = form_for @device_show_presenter.form_for, url: @device_show_presenter.form_path, class: "form-group", method: :get do |f|
        = f.label "From"
        = text_field_tag :from, humanize_date(@device_show_presenter.date_range[:from]), class: "datepick", id: "input_from", required: true
        = f.label "to"
        = text_field_tag :to, humanize_date(@device_show_presenter.date_range[:to]), class: "datepick", id: "input_to", required: true
        = f.label "Or"
        .date-filter-presets
          = @device_show_presenter.form_range_filter("LAST 24H", 1.day.ago)
          = @device_show_presenter.form_range_filter("LAST WEEK", 1.week.ago)
          = @device_show_presenter.form_range_filter("LAST MONTH", 1.month.ago)
          = @device_show_presenter.form_range_filter("LAST YEAR", 1.year.ago)
        = f.submit "Apply", class: "form-control btn btn-default"
        = link_to "Clear", @device_show_presenter.form_path, { method: :get, class: "btn-flat right" }
        = hidden_field_tag(:device_id, @device_show_presenter.device.id)
        = hidden_field_tag :checkins_view, false,  class: "checkins_view"
#map
