<h3>Your current connections are:</h3><br>
<div class="list-group">
  <% @devices.each do |device| %>
    <a href="<%= redbox_device_path(device) %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= device.name %></h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  <% end %>
</div>

<%= link_to("Create new connection", new_redbox_device_path, class: "btn btn-primary btn-lg") %>

<%= link_to("Spoof requests", spoof_redbox_checkins_path, class: "btn btn-warning btn-lg") %>