<h1>Getting started with CoPosition</h1>
<hr>

<p>Create a user with the username <code>testuser</code>.</p>

<p>Create a developer.</p>

<p>Note the API key.</p>

<p>All requests must include the header X-API-KEY: YourApiKey.</p>

<p>All requests originating from a signed in user must include the headers X-User-Token and X-User-Email </p>

<h3>Create a device</h3>

<p>To start posting a checkin, you need to tell us which device you&#39;re posting to. This is determined by the UUID of the device. If you&#39;re creating a new device, all you need to do is request a new UUID</p>

<p><code>GET http://api.coposition.com/v1/uuid</code> With <code>X-API-KEY: YourApiKey</code> passed as a header</p>

<h3>Posting a checkin</h3>

<p><code>POST http://api.coposition-dev.com/v1/checkins</code> With the payload:
  <pre>
{
  "checkin": {
    "uuid":"07b47a50-6f22-468f-b387-b314768f4649",
    "lat":"51.588330",
    "lng":"-0.513069"
  }
}</pre>
</p>

<p>If you then go to your Dashboard &gt; Devices &gt; Add a device, add the UUID <code>07b47a50-6f22-468f-b387-b314768f4649</code>, and the device will be bound to your account.</p>

<h3>Asking for approval</h3>
<p> In order to be able to access your users location data, you first need to ask them for approval. </p>

<p><code>POST http://api.coposition-dev.com/v1/users/testuser/approvals</code>

<p>If you go to the user dashboard, you&#39;ll now see an approval request from the company you created.</p>

<p>Approving this allows the company to have access to that user&#39;s location data of all devices (by default).</p>

 <h3>Approving/Rejecting a Developer</h3>

<p> You can approve or reject a developer via the API.</p>

<p><code>PUT http://api.coposition-dev.com/v1/users/testuser/approvals/approval_id</code> With the payload:
  <pre>
{
    "approval": {
        "approved": true,
        "pending": false
    }
}</pre></p>
 <p> You can approve a developer by setting approved to true and pending to false, or reject by setting both to false. Returns the approval</p>

<h3>Getting device information</h3>

<p> Once the user has approved you as a developer, you can get information about their devices and checkins.</p>

<p><code>GET http://api.coposition-dev.com/v1/users/testuser/devices</code></p>
 <p> Returns an index of devices.</p>

<h3>Getting the last used device</h3>

<p><code>GET http://api.coposition-dev.com/v1/users/testuser/last_checkin</code></p>
 <p> Returns the device and the associated checkin</p>

<h3>Getting the last checkin for a device</h3>

<p><code>GET http://api.coposition-dev.com/v1/users/testuser/devices/testdevice_id/last</code></p>
<p> Returns an individual checkin.</p>

<h3>Getting all checkins for a device</h3>

<p><code>GET http://api.coposition-dev.com/v1/users/testuser/devices/testdevice_id/checkins?page=1&per_page=50</code></p>
 <p>You can specify which page and how many checkins per page (limit 1000) to return, checkins are returned most recent first. </p>

 <h3>Updating Device Settings (fogged/timeshift)</h3>

<p> A user may want to update their personal settings.</p>

<p><code>PUT http://api.coposition-dev.com/v1/users/testuser/devices/testdevice_id</code> With the payload:
  <pre>
{
  "device": {
    "name": 'Test Device'
    "fogged": "true",
    "timeshift" : "30"
  }
}</pre></p>
 <p> You can update the name, the fogged setting and the timeshift delay on a device by supplying these atttributes in the payload.</p>

 <h3>Switching privilege for one developer</h3>

<p> This allows you to toggle which specific devices a developer can see information for.</p>
<p><code>POST http://api.coposition-dev.com/v1/users/testuser/devices/testdevice_id/switch_privilege_for_developer</code> With the payload:
  <pre>
{
  "developer_id" : 3
}</pre></p>
 <p> Specify which developer you would like to switch the privilege for the device in the payload, returns the device_developer_privilege relationship. </p>

  <h3>Switching developer privilege on all devices</h3>

<p><code>POST http://api.coposition-dev.com/v1/users/testuser/devices/switch_all_privileges_for_developer</code> With the payload:
  <pre>
{
  "developer_id" : 3
}</pre></p>
 <p> Specify which developer you would like to switch privileges for all devices, returns all privilege for each device. </p>