h1 Getting started with Coposition
hr/
p
  | Create a user with the username
  code testuser
  | .
p Create a developer.
p Note the API key.
p All requests must include the header X-API-KEY: YourApiKey.
h3 Asking for approval
p In order to be able to access your users location data, you first need to ask them for approval.
p
  code POST http://api.coposition-dev.com/v1/users/testuser/approvals
p If you go to the user dashboard, you'll now see an approval request from the company you created.
p Approving this allows the company to have access to that user's location data of all devices (by default).
h3 Getting device information
p Once the user has approved you as a developer, you can get information about their devices and checkins.
p
  code GET http://api.coposition-dev.com/v1/users/testuser/devices
p Returns an index of devices.
h3 Getting the last checkin for a device
p
  code GET http://api.coposition-dev.com/v1/users/testuser/devices/testdevice_id/last
p Returns an individual checkin.
h3 Getting all checkins for a device
p
  code GET http://api.coposition-dev.com/v1/users/testuser/devices/testdevice_id/checkins?page=1&per_page=50
p You can specify which page and how many checkins per page (limit 1000) to return, checkins are returned most recent first.
