<h1>Getting Started</h1>
<div class="row">
  <div class="col s12 m9 l10">
    <div id="approval" class="section scrollspy">
      <h4>Asking for approval</h4>
      <p>
        To begin with, you'll want to ask for approval from a user. You can do this from your developer console or by using the API. From the console, click 'New user' and enter the email of the user you would like to add. Alternatively, you can use the API, for which detailed documentation can be found at <%= link_to('API', 'https://earlymarket.github.io/copo-docs/') %>
      </p>
    </div>

    <div class="divider"></div>

    <div id="checkins" class="section scrollspy">
      <h4>Getting checkins</h4>
      <p>
        Once you have approval from a user, you can use the API to request their checkins. You'll need the User ID and optionally the ID of a specific device belonging to the user. Using the API You can find a list of your approved users and a list of devices belonging to each user. You can then choose to request the most recent checkin or up to 1000 checkins, either belonging to the user, or for a specific device belonging to the user.
      </p>
    </div>

    <div class="divider"></div>

    <div id="create" class="section scrollspy">
      <h4>Creating checkins</h4>
      <p>
        To allow a user to create checkins via your app, you will need to ask for the UUID of an existing device, or request a UUID and provide this to the user. The latter is recommended if you anticipate that you will want to add extra device settings that may not already be included for devices. You will need to ask the user to then log in and claim the device on Coposition.
        Once you have a UUID, a latitude and longitude are all that is needed to create a checkin.
      </p>
    </div>

    <div class="divider"></div>

    <div id="settings" class="section scrollspy">
      <h4>Additional device settings</h4>
      <p>
        You can add additional, custom settings to any devices created from a UUID you have requested. Each device has an associated config, on which you can set any additional attributes under the custom attribute. The config can be updated and viewed using the API, the user can also view their device config on the coposition website.
      </p>
    </div>
  </div>
  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents">
      <li><a href="#approval">Asking for approval</a></li>
      <li><a href="#checkins">Getting checkins</a></li>
      <li><a href="#create">Creating checkins</a></li>
      <li><a href="#settings">Additional device settings</a></li>
    </ul>
  </div>
</div>
