<div id='gonvariables'><%= Gon::Base.render_data %></div>
<h1>Help Centre</h1>
<div class="row">
  <div class="col s12 m9 l10">
    <div id="checkin" class="section scrollspy">
      <h4><i class="material-icons">pin_drop</i> Checking in</h4>
      <p>
        You can start checking in either via the Coposition website, the Coposition app or an app that is using Coposition.</br></br>
        You can create a checkin on the coposition website by selecting a device from your
        <%= current_user ? link_to('devices', user_devices_path(current_user.url_id)) : 'devices' %>
        and then either right clicking on the map or clicking on the marker in the control panel to the left hand side of the map and then selecting the blue starred marker that appears on the map which indicates your current location.</br></br>
        If you do not have any devices, you will be given the option to create a checkin when creating a new device, the checkin will indicate you current location.
      </p>
    </div>

    <div class="divider"></div>

    <div id="devices" class="section scrollspy">
      <h4> <i class="material-icons">devices</i> Devices</h4>
      <div id="fogging" class="section scrollspy">
        <h5><i class="material-icons">cloud_done</i> Fogging</h5>
        <p>
          Fogging allows you additional control over how much of your location data your data consumers (friends and apps) can see. Fogging a checkin or a device will mean that your data consumers will not be shown your exact location or coordinates, instead they will see a location usually localised to the nearest city/town or a randomised location within 50km of your actual location if there are no settlements nearby.
        </p>
      </div>
      <div id="delay" class="section scrollspy">
        <h5><i class="material-icons">timer</i> Delay</h5>
        <p>
          Delay allows you additional control over when your data consumers (friends and apps) can view your location data. Delay represents how long after creation your consumers will be able to see your data.
          <blockquote>
            E.g. if you created a checkin at 11:00 on a device with a delay of 5 minutes, your friends/apps would not be able see this checkin until 11:05.
          </blockquote>
        </p>
      </div>
      <div id="sharing" class="section scrollspy">
        <h5><i class="material-icons">visibility</i> Sharing</h5>
        <p>
          Sharing a device generates a publicly available page with this device's latest location. Fogging and delay still apply.
        </p>
      </div>
      <div id="uuid" class="section scrollspy">
        <h5><i class="material-icons">perm_device_information</i> Device UUID</h5>
        <p>
          Device UUID is a unique identifier for existing Coposition devices and is primarily used in the developer API. Some apps may request a device UUID to sync this device to their app or some hardware (eg. a tracking device) may come pre-packaged with a Coposition UUID that you can use to sync the hardware to your coposition account.
        </p>
      </div>
      <div id="configuration" class="section scrollspy">
        <h5><i class="material-icons">settings</i> Device configuration</h5>
        <p>
          Device configuration is used by some apps to apply additional device setttings.
          <blockquote>
            E.g. a tracking device might have additional settings such as how often the tracker sends checkins, which you could update via the associated tracking app.
          </blockquote>
        </p>
      </div>
    </div>

    <div class="divider"></div>

    <div id="friends" class="section scrollspy">
      <h4><i class="material-icons">recent_actors</i> Friends and Apps</h4>
      <div id="configuration" class="section scrollspy">
        <h5><i class="material-icons">add_circle</i> Adding new friends/apps</h5>
        <p>
          To add a new friend, visit the friends page and click the orange plus at the top of the page. You can then enter an email address, either of an existing user or of a friend you would like to invite to use Coposition. This will send an email either notifying the user that they have received a friend request or that you have invited them to sign up with Coposition.<br><br>
          To add a new app, visit the apps page and click the orange plus at the top of the page. You can then enter the name of the app and choose the correct app from the dropdown which appears.
        </p>
      </div>
      <div id="configuration" class="section scrollspy">
        <h5><i class="material-icons">lock</i> Permissions</h5>
        <p>
          Permissions allow you additional controls over how much of your data a specific consumer (friend or app) can see for a specific device. <br><br>
          Disable access stops a consumer from seeing any location data for a device.<br><br>
          Bypass fogging/delay allows a consumer to see precise location data for a device regardless or whether it is fogged and/or delayed.
        </p>
        <blockquote>
          E.g. you might decide that you want a particular friend to be able to see your exact location for a fogged device. You can achieve this by enabling 'bypass fogging' for that friend on that device. This will allow them alone to see the device's data location as if it were not fogged.
        </blockquote>
        <p>
          All checkins/last only allows you control over whether the consumer can see all of the checkins for a device or just the most recent checkin. Fogging and delay still apply.
        </p>
      </div>
    </div>

    <div class="divider"></div>

    <div id="w3w" class="section scrollspy">
      <h4><i class="material-icons">explore</i> what3words</h4>
      <p>
        w3w or 'what3words' is a unique combination of 3 words that identifies a 3mx3m square, anywhere on the planet. Learn more about <%=link_to('what3words', 'http://what3words.com/about/')%>.
      </p>
    </div>

    <div class="divider"></div>

    <div id="zapier" class="section scrollspy">
      <h4><i class="material-icons">flash_on</i> Zapier</h4>
      <p>
        Yes! We currently have zapier triggers available for both developers and users.<br><br>
        Developers can make use of an approval trigger which fires every time an approval is created by a developer or accepted by a user.<br><br>
        Users can make use of a checkin or device trigger which fires whenever a new checkin or device is created.<br><br>
        Get started at  <%=link_to('zapier.com', 'https://zapier.com/')%>
      </p>
    </div>

    <div class="divider"></div>

    <div id="more" class="section scrollspy">
      <h4><i class="material-icons">help</i> More questions</h4>
      <p>
        Click 'How can we help?' below to chat directly to our Coposition support team.
      </p>
    </div>
  </div>
  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents">
      <li><a href="#checkin">Checking in</a></li>
      <li><a href="#devices">Devices</a></li>
      <li><a href="#friends">Friends and Apps</a></li>
      <li><a href="#w3w">what3words</a></li>
      <li><a href="#zapier">Zapier</a></li>
      <li><a href="#more">More questions</a></li>
    </ul>
  </div>
</div>

<script>
  COPO.smooch.initSmooch(gon.userinfo);
</script>
