<% content_for :landing_page do %>
<section class="landing-section">
  <div class="row valign-wrapper">
    <div class="valign center-align center">
      <h1 class="brand" data-in-effect="bounceIn">CoPosition</h1>
      <div>Control how you share your location.</div>
    </div>
  </div>
</section>

<section class="landing-section">
  <div class="row">
    <div class="col s6">
      <h3>For the users</h3>
      <p>Take back control of your location data.</p>
      <p>Say exactly who can access your location data, and manage the data accuracy.</p>
      <a class="btn wave-light">Learn more</a>
    </div>
  </div>
</section>

<section class="landing-section">
  <div class="row">
    <div class="col s6 offset-s6">
      <h3>For the developers</h3>
      <p>Setup your location-aware app in minutes, using our HTTP API.</p>
      <p>Let us manage the data, geocoding and bandwidth issues.</p>
      <a class="btn wave-light">Learn more</a>
    </div>
  </div>
</section>
<% end %>