<div class="row">
  <h1 class="tlt" data-in-effect="bounceIn">CoPosition</h1>
</div>

<div class="row">
  <span class="subtitle">Clever data</span>
</div>

<div class="row m-top-l">
  <div id="chart"></div>
</div>

<div class="row m-top-l">
  <div class="col-md-6">
    <h3>For the users</h3>
    <p>Take back control of your location data.</p>
    <p>Say exactly who can access your location data, and manage the data accuracy.</p>
    <p class="center"><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
  <div class="col-md-6">
    <h3>For the developers</h3>
    <p>Setup your location-aware app in minutes, using our HTTP API.</p>
    <p>Let us manage the data, geocoding and bandwidth issues.</p>
    <p class="center"><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>