<% content_for :landing_page do %>
<section class="landing-section first">
  <div class="row valign-wrapper">
    <div class="valign center-align center">
      <h1 class="brand" data-in-effect="bounceIn">CoPosition</h1>
      <div>Worry free location data management.</div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section class="landing-section second">
  <div class="row">
    <div class="col s12 m6">
      <h3>For the users</h3>
      
      <h5>Your location data, under your control</h5>
      <p>Control your location data with all the privacy you want minus all the fuss. CoPosition lets you manage how you share your location with multiple apps across multiple devices all in one place.</p>

      <h5>Fogging and Delay</h5>
      <p>With CoPosition, you can fog your location data so that an app can only know your approximate location. You can also send a delayed location data to an app and the app will only know your location a set number of time in the past.</p>
      <a class="btn wave-light">Learn more</a>
    </div>
  </div>
</section>

<div class="divider"></div>

<section class="landing-section third">
  <div class="row">
    <div class="col s12 m6 offset-m6">
      <h3>For the developers</h3>
      
      <h5>Easy, secure and fuss free</h5>
      <p>One easy to use API to manage all your users location data. CoPosition is secure, easy to implement and dependable.</p>

      <p>Our API enables you to focus on what matters for your app and we'll take care of managing your user's location data and geocoding for you while freeing up valuable bandwidth you would be using otherwise. </p>
      <a class="btn wave-light">Learn more</a>
    </div>
  </div>
</section>
<% end %>