<h1 class="tlt m-m" data-in-effect="bounceIn">CoPosition</h1>
<div class="tlt third-width m-m" data-in-effect="rollIn">
  <% Faker::Lorem.paragraphs(3, true).each do |par| %>
    <p>
      <%= par %>
    </p>
    <br>
  <% end %>
</div>