<h1>CoPosition</h1>
<%= signed_in? ? link_to("View API docs", api_index_path, class: "btn btn-default") : link_to("Sign in", new_user_session_path, class: "btn btn-default") %>
<%= link_to("Create an account", new_user_registration_path, class: "btn btn-default") unless signed_in? %>

<% if user_signed_in? %>
  <h2><%= link_to("Connect", redbox_devices_path, class: "btn btn-primary btn-lg")%></h2>
<% end %>