doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta charset="UTF-8"
    meta content="./copo-logo.png" property="og:logo"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    meta content="no-cache" name="turbolinks-cache-control"
    title Coposition
    link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"
    link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300|Material+Icons" rel="stylesheet"
    = stylesheet_link_tag "placeholder", media: "all", "data-turbolinks-track" => true
    /! favicon stuff
    link href="./apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"
    link href="./favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"
    link href="./favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"
    link href="./manifest.json" rel="manifest"
    link color="#5bbad5" href="./safari-pinned-tab.svg" rel="mask-icon"
    meta content="#ffffff" name="theme-color"
    /! end favicon stuff
    script async="async" data-sumo-site-id="392e8ae3834cda33e6d3d929716838cd302cea46e1d8def5b6701a560770bebc" src="//load.sumome.com/" 
    = javascript_include_tag "application", "data-turbolinks-track" => true
  body.placeholder
    nav
      #quicklinks.pure-g.sm-hide
        /!
          | INLINE SPACE. DO NOT REMOVE.
        .pure-u-1-14
        /!
        .pure-u-12-14.quicklinks-items
          a.lg-items-left.current href="#"  users
          a.lg-items-left href="./devs"  developers
          /!
            span.lg-items-left
            a.lg-items-left href="./help" support
            a.lg-items-right href="#" documentation
            a.lg-items-right href="#" support
        .pure-u-1-14
      #top-menu.pure-g
        .pure-u-1-14
        /!
        .pure-u-12-14
          .top-menu-left
            = image_tag "copo-logo.png", width: 60, class: "sm-hide"
            h1.brandname Coposition
          .top-menu-right
            /!
              a.sm-hide.lg-show-inl href="#" Features
              a.sm-hide.lg-show-inl href="#" How it works
              a.sm-hide.lg-show-inl href="#" Open Source
              a.btn.btn-large.btn-inverse.sm-hide.lg-show-inl href="#" Sign In
            label.lg-hide for="mobile-menu" 
              i.material-icons menu
            input#mobile-menu checked="checked" type="checkbox"
            ul.dropdown
              li
                a.current href="#"  users
              li
                a href="./devs"  developers
              /!
                li>
                  a.btn.btn-inverse href="#"  Sign In
                li Features
                li How it works
                li Open Source
        /!
        .pure-u-1-14
        /!
    #take-control.pure-g
      = image_tag "logo-rings-header.png", class: "ringed-logo"
      .pure-u-lg-7-14.sm-hide.take-control-left
        = image_tag "phones.png", class: "take-control-phones"
      /!
      .pure-u-lg-7-14
        .take-control-content
          h2.title Take back control
          p.pitch With Coposition your location data is owned by you. Share it with friends and family. Let your apps use it. Delete it entirely.
          a.btn.btn-primary.btn-large data-sumome-listbuilder-id="c0ed50c4-1747-4efa-b22b-20ad66f37913" href="#" Request access
      /!
      .pure-u-3-14
    #callouts.pure-g.filled-row
      /!
      .pure-u-lg-1-14.sm-hide.cell
      /!
      .pure-u-lg-4-14.pure-u-14-14.cell
        = image_tag "copo-logo.png", width: 60
        h2.title Coposition App
        p.text Choose how you create your location data and dictate how it appears to your friends and apps.
      /!
      .pure-u-lg-4-14.cell.cell-contrast
        = image_tag "icons/copo-dev-icon.png", width: 60
        h2.title Get Developer Access
        p.text Empower your app’s users. Offer them the only trusted and secure location data storage framework of its kind.
        a.btn.btn-large.btn-inverse data-sumome-listbuilder-id="a0271823-e170-4ab5-943f-9e3f5cfe4665" href="#" Request an invitation
      /!
      .pure-u-lg-4-14.cell
        = image_tag "github-hex.png", width: 60
        h2.title We're Open Source
        p.text No nasty surprises. Our code is available for anyone to inspect, modify, and enhance.
        a.btn.btn-large.btn-inverse href="https://github.com/earlymarket/Coposition"  Take a look
      /!
      .pure-u-lg-1-14.sm-hide.cell
      /!
    /!
    #location-map.pure-g
      /!
      .pure-u-lg-1-14
      /!
      .pure-u-lg-6-14.map
      /!
      .pure-u-lg-4-14
        .valign-wrapper.text
          .valign
            = image_tag "icons/copo-dev-icon.png", width: 60, class: "lg-hide"
            h2.caption Coposition is the secure and trusted way to manage location data
            /! a.btn.btn-large.btn-alternate href="#" See how it works
      /!
      .pure-u-3-14
      /!
    #benefits.pure-g
      /!
      h2.headline
        | Coposition.
        span.tagline Take back control of your location data
      /!
      .pure-u-lg-1-14.sm-hide
      /!
      .cell-wrapper
        .cell
          .ringed-icon
            = image_tag "icons/control.png"
          h2.cell-title Control
          p.cell-description For the first time, your geolocation data history is all in one place. Create. View. Edit. Share. Restrict access. Erase. After all, it’s now yours.
        .cell
          .ringed-icon
            = image_tag "icons/trust.png"
          h2.cell-title Trust
          p.cell-description Don’t risk it. Developed with privacy at the forefront, the trusted and secure cloud-based storage system keeps you and your data protected.
        .cell
          .ringed-icon
            = image_tag "icons/dashboard.png"
          h2.cell-title Dashboard
          p.cell-description Manage your full geolocation history online. See everything we store and export whatever you want to use in a format convenient to you.
        .cell
          .ringed-icon
            = image_tag "icons/free.png"
          h2.cell-title Free
          p.cell-description Protecting your data shouldn’t come at a price. Your Coposition account is free for life, as we believe privacy is your basic right.
        /!
      /!
      .pure-u-lg-1-14.small-hide
      /!
    #get-enabled
      .valign-wrapper
        .card
          = inline_svg "copo-enabled-logo.svg", height: "60px", width: "159px", id: "trustmark"
          h2.card-title Copo Enabled™
          p.card-pitch When you see the Copo Enabled™ badge, you know you’re in control.
          p.card-description Only applications using the Coposition platform meet the new minimum industry standard for the protection of user privacy. Don’t settle for anything less.
    #bottom-callout
      .wrapper
        p.wrapper-pitch Start using the most secure geolocation data management system available anywhere.
        p.wrapper-description Trust us, we know where to look.
        a.btn.btn-primary.btn-large data-sumome-listbuilder-id="b6407316-dccd-4aa7-a3e8-a7be9a068dca" href="#" Request access
    #bottom-bar.pure-g
      /!
      .pure-u-1-14
      /!
      .pure-u-6-14.copy-notice Copyright © 2017 Coposition
      /!
      .pure-u-6-14
        a href="https://github.com/earlymarket/Coposition" 
          i.fa.fa-github-square.fa-2x aria-hidden="true" 
        a href="https://twitter.com/coposition" 
          i.fa.fa-twitter-square.fa-2x aria-hidden="true" 
      /!
      .pure-u-1-14
      /!

    javascript:
      | $(".cell-wrapper").slick({
        | autoplay: true,
        | arrows: false,
        | dots: true,
        | mobileFirst: true,
        | responsive: [{
          | breakpoint: 600,
          | settings: "unslick"
        | }]
      | });

      | $(window).resize(function () {
        | $(".cell-wrapper").slick("resize");
      | });

      | $(window).on("orientationchange", function () {
        | $(".cell-wrapper").slick("resize");
      | });
