<head>
  <title>Coposition</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="placeholder">
  <div class="parallax promo">
    <video autoplay="autoplay" loop="loop" poster="/videos/background.png">
      <source src="/videos/background.webm" type="video/webm" />
      <source src="/videos/background.mp4" type="video/mp4" />
      <source src="/videos/background.ogv" type="video/ogg" />
      <img alt="Coposition" src="/videos/background.png"/>
    </video>
    <div class="overlay"></div>
  </div>

  <div class="valign-wrapper bg-wrapper">
    <div class="valign center-align center z-depth-3 bg-ribbon">
      <%= image_tag("coposition.png", style: "margin: 2em") %>
      <h1 class="brand" data-in-effect="bounceIn">Coposition</h1>
      <h5>Worry free location data management.</h5>
      <p>

  <script type="text/javascript">
         window.Maitre = { uuid: "MFfa39989fd3" };
  </script>
  <script data-maitre src='https://maitreapp.co/widget.js' async></script>
    </div>
  </div>
</body>
