doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="UTF-8" /
    meta content="./copo-logo.png" property="og:logo" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    meta content="no-cache" name="turbolinks-cache-control" /
    title Coposition
    link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300|Material+Icons" rel="stylesheet" /
    = stylesheet_link_tag 'placeholder', media: 'all', 'data-turbolinks-track' => true
    /! favicon stuff
    link href="./apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /
    link href="./favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
    link href="./favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
    link href="./manifest.json" rel="manifest" /
    link color="#5bbad5" href="./safari-pinned-tab.svg" rel="mask-icon" /
    meta content="#ffffff" name="theme-color" /
    /! end favicon stuff
    script async="async" data-sumo-site-id="392e8ae3834cda33e6d3d929716838cd302cea46e1d8def5b6701a560770bebc" src="//load.sumome.com/" 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body.placeholder
    nav
      #quicklinks.pure-g.sm-hide
        /!
          | INLINE SPACE. DO NOT REMOVE.
        .pure-u-1-14
        /!
        .pure-u-12-14.quicklinks-items
          a.lg-items-left href="../"  users
          a.lg-items-left.current href="#"  developers
          /!
            | <span class="lg-items-left">/</span
            | <a href="https://earlymarket.github.io/copo-docs/" class="lg-items-left">documentation</a
            | <a href="./help" class="lg-items-left">support</a
            | <a href="#" class="lg-items-right">documentation</a
            | <a href="#" class="lg-items-right">support</a
        .pure-u-1-14
      #top-menu.pure-g
        .pure-u-1-14
        /!
        .pure-u-12-14
          .top-menu-left
            = image_tag("copo-logo.png", width: 60, class: 'sm-hide')
            h1.brandname Coposition
          .top-menu-right
            /!
              | <a href="#" class="sm-hide lg-show-inl">Features</a
              | <a href="#" class="sm-hide lg-show-inl">How it works</a
              | <a href="#" class="sm-hide lg-show-inl">Open Source</a
              | <a href="#" class="btn btn-large btn-inverse sm-hide lg-show-inl">Sign In</a
            label.lg-hide for="mobile-menu" 
              i.material-icons menu
            input#mobile-menu checked="checked" type="checkbox" /
            ul.dropdown
              li
                a href="../"  users
              li
                a.current href="#"  developers
              /!
                | <!-- <li><a href="#" class="btn btn-inverse">Sign In</a></li
                | <li>Features</li
                | <li>How it works</li
                | <li>Open Source </li
        /!
        .pure-u-1-14
        /!
    #take-control.pure-g
      = image_tag('logo-rings-header.png', class: 'ringed-logo')
      .pure-u-lg-7-14.sm-hide.take-control-left
        = image_tag("phones.png", class: "take-control-phones")
      /!
      .pure-u-lg-7-14
        .take-control-content
          h2.title Geolocation data protection simplified
          p.pitch
          a.btn.btn-primary.btn-large data-sumome-listbuilder-id="6f39b44c-25e6-418c-8693-28f90eecb3bd" href="#"  Join the Beta
      /!
      .pure-u-3-14
    #callouts.pure-g.filled-row
      /!
      .pure-u-lg-1-14.sm-hide.cell
      /!
      .pure-u-lg-4-14.pure-u-14-14.cell
        = image_tag("copo-logo.png", width: 60)
        h2.title Coposition App
        p.text Generate location data and govern how it appears to your friends and apps.
      /!
      .pure-u-lg-4-14.cell.cell-contrast
        = image_tag('icons/copo-dev-icon.png', width: 60)
        h2.title Get Developer Access
        p.text Empower your users. Offer them the only trusted and secure location data storage framework of its kind.
      /!
      .pure-u-lg-4-14.cell
        = image_tag('github-hex.png', width: 60)
        h2.title We're Open Source
        p.text No nasty surprises. Our code is available for anyone to inspect, modify, and enhance.
      /!
      .pure-u-lg-1-14.sm-hide.cell
      /!
    /!
    #location-map.pure-g
      /!
      .pure-u-lg-1-14
      /!
      .pure-u-lg-6-14.map
      /!
      .pure-u-lg-4-14
        .valign-wrapper.text
          .valign
            = image_tag('icons/copo-dev-icon.png', width: 60, class: 'lg-hide')
            h2.caption Coposition is the secure, trusted, and efficient way to manage location data
      /!
      .pure-u-3-14
      /!
    #benefits.pure-g
      /!
      h2.headline
        | Coposition.
        span.tagline The all-in-one solution for location data protection
      /!
      .pure-u-lg-1-14.sm-hide
      /!
      .cell-wrapper
        /!
        .cell
          .ringed-icon= image_tag("icons/control.png")
          h2.cell-title Control
          p.cell-description Empower your users. Let them know that by using your product they are taking advantage of the most powerful geolocation data security platform ever developed.
        /!
        .cell
          .ringed-icon= image_tag("icons/trust.png")
          h2.cell-title Trusted
          p.cell-description Don’t risk it. Developed with privacy at the forefront, the trusted and secure cloud-based storage system keeps your users and their data protected.
        /!
        .cell
          .ringed-icon= image_tag("icons/api.png")
          h2.cell-title API
          p.cell-description Power, right out of the box. Highly functional and detailed API endpoints as standard means reduced development load and plenty of additional benefits, like instant analytics.
        /!
        .cell
          .ringed-icon= image_tag("icons/scalable.png")
          h2.cell-title Scalable
          p.cell-description Let Coposition do the work. With unlimited users, you can take advantage of our servers that already handle billions of check-ins daily.
        /!
      /!
      .pure-u-lg-1-14.small-hide
      /!
    #get-enabled
      .valign-wrapper
        .card
          = inline_svg('copo-enabled-logo.svg', height: '60px', width: '159px', id: 'trustmark')
          h2.card-title Get Coposition Enabled™
          p.card-pitch Join an exclusive community of trusted developers and get your app Copo Enabled™.
          p.card-description Once your app is utilising the Coposition platform your users will know that their location data is under their control.
          a.btn.btn-large.btn-primary data-sumome-listbuilder-id="0ae3b7a0-b5a8-4be8-8743-74e4338ebf8f" href="#"  Apply now
    #bottom-callout
      .wrapper
        p.wrapper-pitch Start using the most secure and trusted geolocation data management system available anywhere.
        p.wrapper-description Trust us, we know where to look.
    #bottom-bar.pure-g
      /!
      .pure-u-1-14
      /!
      .pure-u-6-14.copy-notice Copyright © 2017 Coposition
      /!
      .pure-u-6-14
        a href="https://github.com/earlymarket/Coposition" 
          i.fa.fa-github-square.fa-2x aria-hidden="true" 
        a href="https://twitter.com/coposition" 
          i.fa.fa-twitter-square.fa-2x aria-hidden="true" 
      /!
      .pure-u-1-14
      /!
    javascript:
      | $('.cell-wrapper').slick({
        | autoplay: true,
        | arrows: false,
        | dots: true,
        | mobileFirst: true,
        | responsive: [{
          | breakpoint: 600,
          | settings: 'unslick'
        | }]
      | });

      | $(window).resize(function () {
          | $('.cell-wrapper').slick('resize');
      | });

      | $(window).on('orientationchange', function () {
          | $('.cell-wrapper').slick('resize');
      | });
