<!-- Use single quotes (''), so that this can be user in a JS template -->
<div class='collection'>
  <% @approved_devs.each do |dev| %>
      <div class='collection-item avatar'>
        <%= image_tag(dev.logo.url(:thumb), alt: "", class: "circle icon") %>
          <h4><%= dev.company_name %></h4>
          <% if dev.tagline %>
            <p><%= dev.tagline %></p>
          <% end %>
        </a>       
      </div>
  <% end %>
</div>
