<% if current_user.pending_friends.present? %>
  You have sent <%= pluralize(current_user.pending_friends.count, 'friend request') %>.
<% end %>

<div class="collection">
  <% @friends.each do |friend| %>
    <div class="collection-item row valign-wrapper">
      <div class="col s8 valign">
        <h5><%= friend.email %></h5>
      </div>
      <div class="col s4 valign right-align">
      <%= button_to "Revoke Approval", reject_user_approval_path(current_user.url_id, Approval.where(user: current_user, approvable: friend, approvable_type: "User").first.id), remote: true, class: "btn-flat", data: { confirm: "Are you sure? This user will no longer have access to any of your data." } %>
      </div>
    </div>
  <% end %>
</div>
