You have <%= @friend_requests.length %> friend requests and <%= @pending_friends.length %> pending friends.

<div class='collection'>
  <% @friends.each do |friend| %>
    <div class='collection-item'>
      <h5><%= friend.email %></h5>
    </div>
  <% end %>
</div>