You have <%= @friend_requests.length %> friend requests and <%= @pending_friends.length %> pending friends.

<div class='list-group'>
  <% @friends.each do |friend| %>
    <div class='list-group-item'>
      <h5 class='list-group-item-heading'><%= friend.email %></h5>
    </div>
  <% end %>
</div>