<% if @friend_requests %>

<div class='collection'>
  <% @friend_requests.each do |friend| %>
    <% app = current_user.approval_for(friend) %>
    <div id='<%= "app_#{app.id}" %>' class='collection-item row valign-wrapper'>
      <div class="col s8 valign">
        <h5><%= User.find(app.approvable_id).email %></h5>
      </div>
      <div class="col s4 valign right-align">
        <%= button_to "Approve", approve_user_approval_path(current_user.url_id, app.id), remote: true, class: "btn" %>
        <%= button_to "Reject", reject_user_approval_path(current_user.url_id, app.id), remote: true, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

<% end %>
