$('#gonvariables').html("<%= j Gon::Base.render_data %>")

if (COPO.utility.urlParam("redirect")) {
  window.location.replace(COPO.utility.urlParam("redirect"));
}
$('nav').replaceWith("<%= j (render partial: 'navbar') %>");
$('#approved').html("<%= j (render partial: 'approved', locals: {approved: @presenter.approved, devices: @presenter.devices, approvable_type: @presenter.approvable_type}) %>")
<% if @presenter.pending.present? %>
  $('#pending').html("<%= j (render partial: 'pending', locals: {pending: @presenter.pending}) %>")
<% else %>
  $('#pending').remove();
<% end %>
$(".button-collapse").sideNav();
$(document).unbind('scroll');
var page = ($(".c-approvals.a-apps").length === 1 ? 'apps' : 'friends')
COPO.permissions.initSwitches(page, gon.current_user_id, gon.permissions);
$('.modal-trigger').leanModal({
  ready: function() {
    var $list = $(this.ready.caller.arguments[0][0]).find('ul');
    if($list.children().length===1) {
      var device_id = $list.data().friend;
      if(window.location.pathname.match('apps')){
        var originator = { from: 'apps' }
      } else {
        var originator = { from: 'friends' }
      }
      $list.append(`<div class="progress"><div class="indeterminate"></div></div>`);
      $.get({
        url: "devices/"+device_id+"/permissions",
        data: originator,
        dataType: "script"
      });
    }
  }
});
