<%= Gon::Base.render_data %>
<h1>Apps</h1>
  <%= render partial: "approved_developers", locals: {apps: @apps, devices: @devices} %>
  <%= render partial: "pending_approvals", locals: {pending: @pending} if @pending.present? %>
<div class='center-align'>
<%= link_to("Add app", new_user_approval_path(approvable_type: 'Developer'), class: "btn waves-effect waves-light") %>
</div>

<script>
$('.modal-trigger').leanModal();
COPO.permissions.check_disabled();
COPO.permissions.disable_access_change();
COPO.permissions.last_checkin_change();
COPO.permissions.bypass_change();
</script>
