<h1>Friends</h1>
<div id="friends">
  <%= render partial: "friends" %>
</div>
<div id="friendRequests">
  <%= render partial: "friend_requests" %>
</div>
<div class='center-align'>
<%= link_to("Add friend", new_user_approval_path(approvable_type: 'User'), class: "btn waves-effect waves-light") %>
</div>
