<h1>Dashboard</h1>
<br>
<small>I have a nice vision for this page, and will look amazing when I've been able to spend some good time on it!</small>
<br>
<%= link_to("Devices", redbox_devices_path, class: "btn btn-primary m-m") %>
<br>
<%= link_to("Approvals", users_approvals_path, class: "btn btn-primary m-m") %>