<table id="checkin-table" class="highlight checkin-table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Area</th>
      <th>Fogged</th>
      <th>More Info</th>
    </tr>
  </thead>
  <%= render partial: "checkin_table_row", collection: @checkins, as: :checkin %>
</table>
<%= will_paginate @checkins %>
