<table id="checkin-table" class="highlight">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>CreatedAt</th>
      <th>MoreInfo</th>
      <th>Delete</th>
    </tr>
  </thead>
  <% @checkins.each do |checkin| %>
    <%= render "checkin_table_row", checkin: checkin %>
  <% end %>
</table>
<%= will_paginate @checkins %>
