<div id="preview" class="hide animated zoomIn">
  <div id="map" class="square-map"/>
  <pre id='coordinates' class='ui-coordinates'></pre>
</div>

<script>

navigator.geolocation.getCurrentPosition(showPosition, geoLocationError);

function showPosition(position) {
  $('#add_button').removeClass("disabled");
  $('#add_button').prop('disabled', false);
  $('#preview').removeClass("hide");

  var location = { lat: position.coords.latitude, lng: position.coords.longitude }
  updateLocation(location);

  COPO.maps.initMap();
  markerOptions = {
    icon: L.mapbox.marker.icon({ 'marker-symbol' : 'marker', 'marker-color' : '#ff6900' }),
    draggable: true
  }
  var marker = L.marker([position.coords.latitude, position.coords.longitude], markerOptions)
  marker.addTo(map);
  map.once('ready', function() {
    map.setView(marker.getLatLng(), 16)
  })
  marker.on('dragend', function(e) {
    updateLocation(e.target.getLatLng());
  })

  function updateLocation(loc){
    $('#coordinates').html('Latitude: ' + loc.lat.toFixed(6) + '<br />Longitude: ' + loc.lng.toFixed(6));
    var latlon = loc.lng + "," + loc.lat;
    $('#location').attr("value", latlon);
  }
}

function geoLocationError(err){
  Materialize.toast('Could not get location', 3000)
}

</script>
