<div class="valign-wrapper">
  <%= link_to(fogged_icon(device.fogged), user_device_path(current_user.url_id, device.id), { method: :put, id:"fogButton#{device.id}", remote: true, data: { fogged: device.fogged? }  })%>
  <span style="margin-left: 1em;">Timeshift with a delay of
    <%= form_tag(user_device_path(current_user.url_id, device.id), method: "put", remote: true, style: "display: inline;") do %>
      <%= text_field_tag(:mins, device.delayed, size: "2", style: "width: 2em; text-align: center;") %>
    minutes.
      <%= button_tag("Update", type: "submit", class: "btn-flat waves-effect waves-orange") %>
    <% end %></span>
</div>

