<%= Gon::Base.render_data %>
<h1>Devices</h1>
<div>
  <% @devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>
</br>
<div class="row">

  <div class="center">
    <%= link_to("Add new device", new_user_device_path, class: "btn btn-primary btn-lg") %>
  </div>

</div>

<script>

$(document).ready(function(){
  $('.modal-trigger').leanModal();
});

Copo.check_disabled();
Copo.disable_access_change();
Copo.last_checkin_change();
Copo.bypass_change();
</script>
