<h1>Devices</h1>
<div>
  <% @devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>
</br>
<div class="row">

  <div class="center">
    <%= link_to("Add new device", new_user_device_path, class: "btn btn-primary btn-lg") %>
  </div>

</div>

<script>
$(document).ready(function(){
  $('.modal-trigger').leanModal();
  $(".privilege").each(function(toggles){
    if ($(this).children().prop('checked')){
      var permission = switches.get_permission_id(this);
      switches.disable_toggles(permission, true)
    }
  })
  var current_user_id =  <%= @current_user_id %>;

  switches.disable_access_change(current_user_id);
  switches.last_checkin_change(current_user_id);
  switches.bypass_change(current_user_id);
});
</script>
