<div id='gonvariables'><%= Gon::Base.render_data %></div>
<h1>Your devices</h1>
<div class="row">
  <div class="center">
    <%= link_to(new_user_device_path, class: "btn-floating btn-large waves-effect waves-light primary-color") do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
<section class="devices-index row">
  <div class="col s12">
    <div id="map-wrapper" style="position: relative;">
      <p id="map-status"></p>
      <div id="map-overlay" class="valign-wrapper z-depth-1 hide">
        <div>
          <h5 style="text-align: center;">Nothing here yet</h5>
          <p>Here you will be shown the most recent checkin for each of your devices, but you don't have any at the moment!</p>
          <p>To add a check-in, create a device by clicking the plus above or select an existing device.</p>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>
</section>
<div>
  <% @presenter.devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>
<div class="center"><%= will_paginate @presenter.devices %><div>
<script>
  $('.modal-trigger').leanModal({
    ready: function() {
      var $list = $(this.ready.caller.arguments[0][0]).find('ul');
      if($list.children().length===1) {
        var device_id = $list.data().device;
        var originator = { from: 'devices' }
        $list.append(`<div class="progress"><div class="indeterminate"></div></div>`);
        $.get({
          url: window.location.href+"/"+device_id+"/permissions",
          data: originator,
          dataType: "script"
        });
      }
    }
  });
</script>

<script type="x-tmpl-mustache" id="markerPopupTmpl">
  <h3>Device: {{ &devicebutton }}</h3>
  <ul>
    <li class="address">Address: {{ address }}</li>
  </ul>
</script>
