<%= Gon::Base.render_data %>
<h1>Devices</h1>
<div>
  <% @devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>
</br>
<div class="row">

  <div class="center">
    <%= link_to("Add new device", new_user_device_path, class: "btn") %>
  </div>

</div>

<script>
$('.modal-trigger').leanModal();
COPO.permissions.switch_change();
COPO.permissions.check_disabled();
</script>
