<div id='gonvariables'><%= Gon::Base.render_data %></div>
<h1>Your devices</h1>
<div class="row">
  <div class="center">
    <%= link_to(new_user_device_path, class: "btn-floating btn-large waves-effect waves-light primary-color") do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
<div id='calendar'></div>
<div>
  <% @devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>

<script>
  $('.modal-trigger').leanModal();
</script>
