<% content_for :outside_container do %>
<%= Gon::Base.render_data %>
  <div id="map"></div>
  <script id="nullPopupTemplate" type="x-tmpl-mustache">
    {{ &avatar }}
    <div>{{ name }}'s device "{{ device.name }}" has no visible location yet</div>
  </script>
  <script id="fullPopupTemplate" type="x-tmpl-mustache">

    <div class="popup-topbox">
      {{ &avatar }}
      <h3>{{ friend }}'s last reported location</h3>
    </div>
    <div class="center">
      <div class="popup-column">
        <div class="popup-label">Device:</div>
        <div class="popup-label">Created on:</div>
        <div class="popup-label">Latitude:</div>
        <div class="popup-label">Longitude:</div>
        <div class="popup-label">Address:</div>
      </div>
      <div class="popup-column">
        <div class="popup-value">{{ device.name }}</div>
        <div class="popup-value">{{ created_at }}</div>
        <div class="popup-value">{{ lat }}</div>
        <div class="popup-value">{{ lng }}</div>
        <div class="popup-value address">{{ address }}</div>
      </div>
    </div>
  </script>
<% end %>
