- content_for :outside_container do
  = Gon::Base.render_data
  #map
  script#nullPopupTemplate type="x-tmpl-mustache" 
    | {{ &avatar }}
    <div>{{ name }}'s device "{{ device.name }}" has no visible location yet</div>

  script#fullPopupTemplate type="x-tmpl-mustache" 
    <table>
      <tr>
        <td class="popup-label">{{ &avatar }}</td>
        <td class="title">{{ friend }}'s last reported location</td>
      </tr>
      <tr>
        <td class="popup-label">Device:</td>
        <td>{{ device.name }}</td>
      </tr>
      <tr>
        <td class="popup-label">Created on:</td>
        <td>{{ created_at }}</td>
      </tr>
      <tr>
        <td class="popup-label">Latitude:</td>
        <td>{{ lat }}</td>
      </tr>
      <tr>
        <td class="popup-label">Longitude:</td>
        <td>{{ lng }}</td>
      </tr>
      <tr>
        <td class="popup-label">Address:</td>
        <td class="address">{{ address }}</td>
      </tr>
    </table>
