<% content_for :outside_container do %>
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<div id='map'></div>
<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiZ2FyeXNpdSIsImEiOiJjaWxjZjN3MTMwMDZhdnNtMnhsYmh4N3lpIn0.RAGGQ0OaM81HVe0OiAKE0w';
  var map = L.mapbox.map('map', 'garysiu.pal12l2j')
    .setView([51.50, -0.12], 13);
  window.setTimeout(function() {
      map.invalidateSize();
  }, 1000);

  L.marker([51.506060, -0.211746], {
      icon: L.mapbox.marker.icon({
          'marker-size': 'large',
          'marker-symbol': 'heliport',
          'marker-color': '#fa0'
      })
  }).addTo(map);
  map.addControl(L.mapbox.shareControl());
  map.addControl(L.mapbox.geocoderControl('mapbox.places'));
</script>
<style>
  #map { position:absolute !important; top: 64px; bottom:0px; width:100%; }
  footer { display: none; }
</style>
<% end %>
