<% content_for :outside_container do %>
  <%= render 'users/shared/device_show' %>

  <div class="bottom-panel valign-wrapper">
    <div class="buttons">
      <%= link_to("Delete history", user_device_checkins_path(current_user.url_id, @presenter.device.id), { method: :delete, class: "btn red white-text", data: { confirm: 'Delete all checkins for this device?' } })%>
      <a id="checkinNow" class="btn green white-text">Checkin now</a>
      <%= link_to("Delete device", user_device_path(current_user.url_id, @presenter.device), { method: :delete, class: "btn red white-text", data: { confirm: 'Are you sure?' } })%>
    </div>
  </div>

  <!-- templates -->
  <script type="x-tmpl-mustache" id="markerPopupTmpl">
    <h3>ID: {{ id }}</h3>
    <ul>
      <li>Created on: {{ created_at }}</li>
      <li>Latitude: {{ lat }}</li>
      <li>Longitude {{ lng }}</li>
      <li class="address">Address: {{ address }}</li>
      {{ &foggedAddress }}
      <li>{{ &foggle }} {{ &deletebutton }}</li>
    </ul>
  </script>

  <script type="x-tmpl-mustache" id="createCheckinTmpl">
    <ul>
      <li>Latitude: {{ lat }}</li>
      <li>Longitude {{ lng }}</li>
      <li>{{ &checkinLink }}</li>
    </ul>
  </script>

<% end %>
