<% content_for :outside_container do %>
  <div id='map'></div>
  <div class="bottom-panel"><%= will_paginate @checkins %></div>
  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiZ2FyeXNpdSIsImEiOiJjaWxjZjN3MTMwMDZhdnNtMnhsYmh4N3lpIn0.RAGGQ0OaM81HVe0OiAKE0w';
    // var map = L.mapbox.map('map', 'garysiu.pal12l2j');
    var map = L.mapbox.map('map', null, {maxZoom: 16} );
      // .setView([51.50, -0.12], 13);
    var layers = {
      Light: L.mapbox.tileLayer('mapbox.light'),
      Dark: L.mapbox.tileLayer('mapbox.dark'),
      Streets: L.mapbox.tileLayer('mapbox.streets'),
      Hybrid: L.mapbox.tileLayer('mapbox.streets-satellite'),
      Satellite: L.mapbox.tileLayer('mapbox.satellite'),
      "High contrast": L.mapbox.tileLayer('mapbox.high-contrast'),
    };
    layers.Light.addTo(map).on('ready', function() {
      // map.invalidateSize();

        checkins = <%= raw @checkins.to_json %>

        markers = new L.MarkerClusterGroup();
          for (var i = 0; i < checkins.length; i++) {
            var checkin = checkins[i];
            var marker = L.marker(new L.LatLng(checkin.lat, checkin.lng), {
              icon: L.mapbox.marker.icon({
                'marker-symbol': 'heliport',
                'marker-color': '#ff6900',
                'title': 'ID: '+ checkin.id
              })
            });
            markers.addLayer(marker);
          }

        map.addLayer(markers);
        map.fitBounds(markers.getBounds());
    });
    // To be re-added later. Remember: layers do NOT persist.
    // L.control.layers(layers).addTo(map);
    map.addControl(L.mapbox.shareControl());
    map.addControl(L.mapbox.geocoderControl('mapbox.places'));

  </script>
  <style>
    #map { position:absolute !important; top: 64px; bottom:64px; width:100%;}
    footer { display: none; }
    .bottom-panel {
      display: block;
      height: 64px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
    }
  </style>
<% end %>
