/* exported utility */

window.COPO = window.COPO || {};

COPO.utility = {
  deselect() {
    if (window.getSelection) {
      if (window.getSelection().empty) {  // Chrome
        window.getSelection().empty();
      } else if (window.getSelection().removeAllRanges) {  // Firefox
        window.getSelection().removeAllRanges();
      }
    } else if (document.selection) {  // IE?
      document.selection.empty();
    }
  },

  currentPage(controller, action) {
    return $(`.c-${controller}.a-${action}`).length === 1
  },

  urlParam(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (!results) return null;
    return results[1] || 0;
  },

  ujsLink(verb, text, path) {
    var output =  $('<a data-remote="true" rel="nofollow" data-method="' + verb +'" href="' + path +'">' + text +'</a>')
    return output
  },

  idLink(checkin) {
    var path = window.location.pathname + '/checkins/' + checkin.id
    var text = `ID: ${checkin.id}`
    var output =  $('<a class="tooltipped" data-tooltip="Click to generate map for this check-in" href="' + path +'">' + text +'</a>')
    return output.prop('outerHTML')
  },

  deleteCheckinLink(checkin) {
    return COPO.utility.ujsLink('delete',
      '<i class="material-icons tooltipped right red-text" data-tooltip="Delete check-in">delete_forever</i>' ,
      window.location.pathname + '/checkins/' + checkin.id )
      .attr('class', 'right').attr('data-confirm', 'Are you sure?').prop('outerHTML')
  },

  fogCheckinLink(checkin, foggedClass, fogId) {
    return COPO.utility.ujsLink('put',
      '<i class="material-icons tooltipped" data-tooltip="Toggle fogging for this check-in">cloud</i>' ,
      window.location.pathname + '/checkins/' + checkin.id )
      .attr('id', fogId + checkin.id).attr('class', foggedClass).prop('outerHTML')
  },

  revertLink(checkin) {
    const url = `${window.location.pathname}/checkins/${checkin.id}`;
    return `<a data-remote="true" rel="nofollow" class="red-text right tooltipped revert" data-type="${checkin.type}" data-url="${url}" data-original="${checkin.original}" data-tooltip="Click to undo changes">
              undo
            </a>`;
  },

  renderInlineCoords(checkin) {
    const url = `${window.location.pathname}/checkins/${checkin.id}`;
    return `<span class="editable-wrapper tooltipped clickable" data-tooltip="Click to edit coordinates">
              <span class="editable" data-url="${url}">${checkin.lat.toFixed(6)}, ${checkin.lng.toFixed(6)}</span>
              <i class="material-icons grey-text edit-coords">mode_edit</i>
            </span>`;
  },

  renderInlineDate(checkin, tempData) {
    const url = `${window.location.pathname}/checkins/${checkin.id}`;
    return `<span class="editable-wrapper tooltipped clickable" data-tooltip="Click to edit date and time">
              <span id="localTime" class="editable date" data-url="${url}" data-date="${checkin.created_at}">${tempData.created_at}</span>
              <i class="material-icons grey-text edit-coords">mode_edit</i>
            </span>`;
  },

  geocodeCheckinLink(checkin) {
    return COPO.utility.ujsLink('get',
      'Get address' ,
      window.location.pathname + '/checkins/' + checkin.id )
      .prop('outerHTML')
  },

  createCheckinLink(coords) {
    var checkin = {
      'checkin[lat]': coords.lat.toFixed(6),
      'checkin[lng]': coords.lng.toFixed(6)
    }
    var checkinPath = location.pathname + '/checkins?' + $.param(checkin);
    return COPO.utility.ujsLink('post', 'Create checkin here', checkinPath).prop('outerHTML');
  },

  friendsName(friend) {
    return friend.username ? friend.username : friend.email.split('@')[0]
  },

  fadeUp(target) {
    $(target).velocity({
      opacity: 0,
      marginTop: '-40px'
    }, {
      duration: 375,
      easing: 'easeOutExpo',
      queue: false,
      complete() {
        $(target).remove();
      }
    });
  },

  avatar(avatar, options) {
    options = $.extend(this.avatarDefaults, options)
    options["transformation"][0] = "60x60cAvatar"
    if(avatar) {
      return $.cloudinary.image(avatar.public_id, options).prop('outerHTML')
    }
  },

  avatarUrl(avatar, options) {
    options = $.extend(this.avatarDefaults, options)
    if(avatar) {
      return $.cloudinary.url(avatar.public_id, options)
    }
  },

  avatarDefaults: <%= Rails.application.config_for(:cloudinary)['custom_transforms']['avatar'].to_json %>,

  initClipboard() {
    let clipboard = new Clipboard('.clip_button');

    clipboard.on('success', function(e) {
      $('.material-tooltip').children('span').text('Copied');
      e.clearSelection();
    });

    clipboard.on('error', function(e) {
      let  action = e.action;
      let  actionMsg = '';
      let  actionKey = (action === 'cut' ? 'X' : 'C');
      if (/iPhone|iPad/i.test(navigator.userAgent)) {
        actionMsg = 'Touch the copy button above the keyboard';
      } else if (/Mac/i.test(navigator.userAgent)) {
        actionMsg = 'Press ⌘-' + actionKey + ' to ' + action;
      } else {
        actionMsg = 'Press Ctrl-' + actionKey + ' to ' + action;
      }
      $('.material-tooltip').children('span').text(actionMsg);
      // console.error('Action:', e.action);
      // console.error('Trigger:', e.trigger);
    });
  },

  gonFix() {
    var contents = $('#gonvariables').html();
    $('#gonvariables').html(contents);
  },

  commaToNewline(string) {
    return string.replace(/, /g, '\n')
  },

  geoLocationError(err) {
    Materialize.toast('Could not get location', 3000)
  },

  pluralize(noun, count) {
    if(count > 1) return noun + 's';
    return noun;
  },

  scrollTo(selector, speed) {
    speed = speed || 200;
    $('html, body').animate({
      scrollTop: $(selector).offset().top
    }, speed);
  },

  padStr(char, length, str) {
    // leftpads str using char until it is at least length
    const diff = parseInt(length) - String(str).length;
    return diff > 0 ? String(char).repeat(diff) + str : str;
  },

  validateLatLng(coord) {
    return Math.abs(coord) < 180;
  },

  substringMatcher(strs) {
    return (query, callback) => {
      let substrRegex = new RegExp(query, 'i');
      let matches = strs.filter(str => substrRegex.test(str));
      callback(matches);
    };
  },
};
