.c-approvals {
  .center-map {
    margin-left: 5px;
    color: $primary-color-darker;
    cursor: pointer;
    vertical-align: middle;
  }

  .title {
    font-size: 3rem;
  }

  .approvalsGon {
    display: none;
  }

  #approved {
    margin-bottom: 1rem;
  }

  #complete {
    margin-bottom: 1rem;
  }

  .avatar {
    a {
      display: inline-block;
    }
  }

  .tagline {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.5rem;
    @media screen and (max-width: 660px){
      display: none;
    }
  }

  .connected-since {
    @media screen and (max-width: 660px){
      display: none;
    }
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
    .row {
      margin: 0;
      @media screen and (max-width: 660px){
        text-align: center;
      }
    }
  }

  .permissions-button {
    background-color: $primary-color;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .btn-flat i {
    color: inherit;
  }

  #map-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;
    p {
      @media (max-width: $lg-breakpoint) {
        font-size: 0.8rem;
      }
    }
    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 300px;
    border: 2px solid $primary-color-darker;
    border-radius: 10px;
    z-index: 1;

    .leaflet-marker-icon {
      cursor: inherit;
      outline: 0;

      &.leaflet-clickable {
        cursor: pointer;
      }
    }
  }

  .address {
    font: 0.7rem Fira Mono;
    margin-bottom: 1em;
    white-space: pre;
  }

  #map-status {
    // font-size: 1.4rem;
  }

  .app-card-row {
    margin: 0;
    @media screen and (max-width: 660px){
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  }

  .col.s4 {
    @media screen and (max-width: 660px){
      width: 60% !important;
      margin-left: 0 !important;
      text-align: center;
      .right {
        float: none !important;
      }
    }
  }

  .app-name-row {
    margin: 0;
    flex-direction: row;
    display: flex;
  }

  .all-permissions {
    @media screen and (max-width: 660px){
      font-size: 1rem;
    }
  }

  .permission-title {
    @media screen and (max-width: 660px){
      flex-direction: column;
    }
  }

  .leaflet-touch, .leaflet-control-fullscreen a {
    background-position: 0px 0px;
  }
}
