.c-approvals {

  .approvalsGon {
    display: none;
  }

  #approved {
    margin-bottom: 1rem;
  }

  .avatar {
    margin-right: 1rem;
  }

  .tagline {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
    .row {
      margin: 0;
    }
  }
}
