.c-approvals {

  .approvalsGon {
    display: none;
  }

  #approved {
    margin-bottom: 1rem;
  }

  .avatar {
    margin-right: 1em;
  }

  .tagline {
    margin-left: 1rem;
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
    .row {
      margin: 0;
    }
  }

}
