.c-approvals {
  .center-map {
    margin-left: 5px;
    color: $primary-color-darker;
    cursor: pointer;
    vertical-align: middle;
  }

  .title {
    font-size: 3rem;
  }

  .approvalsGon {
    display: none;
  }

  #approved {
    margin-bottom: 1rem;
  }

  #complete {
    margin-bottom: 1rem;
  }

  .avatar {
    a {
      display: inline-block;
    }
  }

  .tagline {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.5rem;
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
    .row {
      margin: 0;
    }
  }

  .permissions-button {
    background-color: $primary-color;
    color: #ffffff;
  }

  .btn-flat i {
    color: inherit;
  }

  #map-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 300px;
    border: 2px solid $primary-color-darker;
    border-radius: 10px;
    z-index: 1;

    .leaflet-marker-icon {
      cursor: inherit;
      outline: 0;

      &.leaflet-clickable {
        cursor: pointer;
      }
    }
  }

  .address {
    font: 0.7rem Fira Mono;
    margin-bottom: 1em;
    white-space: pre;
  }

  #map-status {
    // font-size: 1.4rem;
  }

  .leaflet-touch, .leaflet-control-fullscreen a {
    background-position: 0px 0px;
  }
}
