.c-approvals {

  .approvalsGon {
    display: none;
  }

  #approved {
    margin-bottom: 1rem;
  }

  .avatar {
    margin-right: 1rem;
  }

  .tagline {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
    .row {
      margin: 0;
    }
  }

  #map-overlay {
    position: absolute;
    z-index: 1500;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 400px;
  }

  #map-status {
    // font-size: 1.4rem;
  }
}
