$primary-colour: color("red", "lighten-1");

.primary-colour{
  background-color: $primary-colour;
}

success-color {
  background-color: #4caf50;
}

danger-color {
  background-color: #e51c23;
}

.bg-approved-true {
  background-color: #DCFF9A
}

.bg-approved-false {
  background-color: #FFCCCC
}

.white-link {
  color: white;
}

.white-link:visited {
  color: white;
  text-decoration: none;
}

.white-link:hover {
  color: white;
  text-decoration: none;
}

.white-link:focus {
  color: white;
  text-decoration: none;
}

.bg-success {
  @extend success-color;
}

.bg-danger {
  @extend danger-color;
}

.privilege-complete {
  @extend success-color;
}

.privilege-disallowed {
  @extend danger-color;
}