$primary-color: color("light-blue", "base");
$primary-color-lighter: color("light-blue", "lighten-4");
$primary-color-darker: color("light-blue", "darken-2");

$secondary-color: color("orange", "accent-2");
$secondary-color-lighter: color("orange", "accent-1");
$secondary-color-darker: color("orange", "accent-3");

$button-raised-color: color("grey", "darken-4");

.dark-text{
  color: rgba(0, 0, 0, 0.8);

  &.secondary{
    color: rgba(0, 0, 0, 0.7);
  }
  &.hint{
    color: rgba(0, 0, 0, 0.38);
  }
}

.light-text{

  color: rgba(255, 255, 255, 1);

  &.secondary{
    color: rgba(255, 255, 255, 0.7);
  }
  &.hint{
    color: rgba(255, 255, 255, 0.3);
  }
}

.primary-color{
  background-color: $primary-color;

  &.lighten{
    background-color: $secondary-color-lighter;
    color: black;
  }

  &.darken{
    background-color: $secondary-color-darker;
    color: white;
  }
}

.secondary-color{
  background-color: $secondary-color;
  color: $button-raised-color;

  &.lighten{
    background-color: $secondary-color-lighter;
  }

  &.darken{
    background-color: $secondary-color-darker;
  }
}
