$primary-color: color("light-blue", "base");
$primary-color-lighter: color("light-blue", "lighten-4");
$primary-color-darker: color("light-blue", "darken-2");

$secondary-color: color("orange", "accent-2");
$secondary-color-lighter: color("orange", "accent-1");
$secondary-color-darker: color("orange", "accent-3");

$button-raised-color: color("grey", "darken-4");

.dark-text{
	opacity: 0.87;

	&.secondary{
		opacity: 0.54;
	}
	&.hint{
		opacity: 0.38;
	}
}

.light-text{
	opacity:1;

	&.secondary{
		opacity: 0.7;
	}
	&.hint{
		opacity: 0.3;
	}
}

.primary-color{
	background-color: $primary-color;

	&.lighten{
		background-color: $secondary-color-lighter;
		color: black;
	}

	&.darken{
		background-color: $secondary-color-darker;
		color: white;
	}
}

.secondary-color{
	background-color: $secondary-color;
	color: $button-raised-color;

	&.lighten{
		background-color: $secondary-color-lighter;
	}

	&.darken{
		background-color: $secondary-color-darker;
	}
}