// Display

.ib {
  display: inline-block;
}

// Positional classes
.fixed {
  position: fixed;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.center{
  margin: 0 auto;
}

.ta-center {
  text-align: center;
}

.ta-complete-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Effects classes
.half-opacity {
  opacity: 0.5;
}
.quarter-opacity {
  opacity: 0.25;
}

.btn, .btn-large, .btn-flat, .btn-floating {
  color: $dark-text-color;

  &.disabled{
    @extend .dark-text.hint;
  }

  i{
    color: $dark-text-color;
  }
}

.marker-cluster-last {
  background-color: rgba(121, 192, 247, 0.6);
}
.marker-cluster-last div {
  background-color: rgba(33, 150, 243, 0.6);
}

.lined {
  text-align: center;
  background:
    linear-gradient(0deg,
      white calc(50% - 1px),
      black,
      black calc(50% + 1px),
      white,
      white calc(50% + 2px),
      white);
  display: inline-block;
  width: 100%;
}

.lined-pad {
  background: white;
  padding: 0 0.5rem;
}

.inline-text {
  display: inline;
}

.promo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
    .filter{
      @extend .primary-color, .quarter-opacity;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -5;
    }
    video{
      left: 0;
      top: 0;
      position: absolute;
      width: auto;
      height: 100%;
      z-index: -10;
    }
  }
