// Positional classes
.fixed {
  position: fixed;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

// Effects classes
.half-opacity {
  opacity: 0.5;
}


// Specific target classes
.round-map {
  border-radius: 300px;
  padding-left: 0;
  padding-right: 0;
  border: 3px solid #2196F3;
  width: 100%;
}

.btn {
  color: $button-raised-color;
}
