.c-devices.a-shared {
  #map {
    position:absolute;
    top:64px;
    bottom:0px;
    width:100%;
  }

  .popup-topbox {
    margin-bottom: 1.8rem;
  }

  .popup-label {
    text-align: right;
    font-weight: bold;
  }

  .address {
    white-space: pre;
  }

  .leaflet-popup-content {
    .left {
      margin-top: -10px;
    }
  }

  table {
    font-size: 1rem;

    .title {
      font-size: 1.4rem;
      font-weight: bold;
      vertical-align: middle;
      white-space: normal;
    }
    td {
      padding: 0.1rem 0.5rem;
      vertical-align: top;
      white-space: nowrap;
    }
  }

  .leaflet-touch, .leaflet-control-fullscreen a {
    background-position: 0px 0px;
  }
}
