.c-devices.a-index {
  .linkbox {
    width: auto;
    height: inherit;
    border: 1px solid darkgrey;
    border-radius: 2px;
    font-size: 12px;
    margin: 2px;

    &:focus {
      @extend .linkbox;
      box-shadow: inherit;
    }
  }

  .delay-modal {
    height: 180px;
    width: 320px;
  }

  .delay-slider {
    width: 98%;
  }

  .disabled-icon {
    color: rgba(0,0,0,0.2);
    position: relative;
    &:after {
      content:" ";
      // these are relative to font based settings
      height: 4px; // arbitary width of the strikethrough that visually matches
      width: 24px; // matches font-size
      border-top: white solid 2px;
      background-color: #ccc; //needs to be solid. Matches how the icon renders on white
      position: absolute;
      top: 11px; //half font height but slightly higher to offset the visual illusion
      left: 0;
      transform: rotate(45deg);
    }
  }

  #map-overlay {
    position: absolute;
    z-index: 1500;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 300px;

    .leaflet-marker-icon {
      cursor: inherit;
      outline: 0;

      &.leaflet-clickable {
        cursor: pointer;
      }
    }
  }

  #map-status {
    // font-size: 1.4rem;
  }

}
