.c-devices.a-new {

  .rectangle-map {
    top: 10px;
    border: 2px solid $primary-color-darker;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
    height: 400px;
  }

  pre.ui-coordinates {
    position:relative;
    left:70px;
    float:left;
    padding:5px 10px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:11px;
    line-height:18px;
    border-radius:3px;
    z-index: 2;
  }

  #cancel_button {
    margin-left: 1rem;
  }
}
