.c-devices.a-show,
.c-friends.a-show_device {
  .date-select {
    background: #fff;
    position: absolute;
    width: 21%;
    top: 150px;
    right: 10px;
    z-index: 9;
    padding-left: 5px;
  }

  .date-picker {
    left: 10px;
  }

  /* Header - Day of the week */
  .picker__weekday-display { background-color: $primary-color-darker; }
  /* Body - Today info */
  .picker__date-display { background-color: $primary-color; }
  /* Buttons of actions */
  .picker__nav--prev:hover { background-color: $primary-color-lighter; }
  .picker__nav--next:hover { background-color: $primary-color-lighter; }
  .picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid $primary-color;
  }
  .picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid $primary-color;
  }
  .picker__today { color: $primary-color; }
  .picker__close { color: $primary-color; }
  .btn-flat.picker__today:active { background-color: $primary-color; }
  .btn-flat.picker__close:active { background-color: $primary-color; }
  .btn-flat.picker__clear:active { background-color: $primary-color; }
  /* Select months of the year */
  .picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
  }
  /* Every month of the year except: today */
  .picker__day--infocus:hover { color: $primary-color; }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { color: $primary-color-darker; }
  .picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: $primary-color-lighter; }
  /* Today */
  .picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: $primary-color-lighter; }
  .picker__day.picker__day--today { color: $primary-color-darker; }

  .tabs {
    overflow: hidden;
  }

  #map {
    width:100%;
    position:absolute !important;
    top: 64px;
    margin-top: 48px;
    bottom: 100px;
  }

  #chart {
    height: 70vh;
    width: 100%;
  }

  #bar-chart {
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    height: 40vh;
  }

  #table-chart {
    height: 30vh;
    margin-top: 10px;
  }

  .bottom-panel {
    position: absolute;
    bottom: 0px;
    display: block;
    height: 100px;
    width: 100%;
    text-align: center;
    background: white;
  }

  .bottom-panel * {
    margin: 0;
  }

  .buttons {
    margin: 10px;
  }

  .disabled-icon {
    color: rgba(0,0,0,0.12);
  }

  .enabled-icon {
    // Material Design specs suggest opacity: 0.25; but I don't think
    // it'd give enough countrast
  }

  .fogged {
    color: #2196f3;
  }
}

