.c-devices.a-show, .c-friends.a-show_device {
  .date-select {
    background: #fff;
    position: absolute;
    width: 220px;
    top: 115px;
    left: 90px;
    z-index: 9;
    padding-left: 5px;
  }

  .tabs {
    overflow: hidden;
  }

  #map {
    width:100%;
    position:absolute !important;
    top: 64px;
    margin-top: 48px;
    bottom: 120px;
  }

  #chart {
    height: 70vh;
    width: 100%;
  }

  #bar-chart {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 40vh;
  }

  #table-chart {
    height: 30vh;
    margin-top: 10px;
  }

  #dateRange {
    width: 500px;
  }

  .bottom-panel {
    position: absolute;
    bottom: 0px;
    display: block;
    height: 120px;
    width: 100%;
    text-align: center;
    background: white;
  }

  .bottom-panel * {
    margin: 0;
  }

  .buttons {
    margin: 10px;
  }

  .disabled-icon {
    color: rgba(0,0,0,0.12);
  }

  .enabled-icon {
    // Material Design specs suggest opacity: 0.25; but I don't think
    // it'd give enough countrast
  }

  .fogged {
    color: #2196f3;
  }
}

