.c-devices.a-index {
  .center-map {
    color: $primary-color-darker;
    cursor: pointer;
  }

  .title {
    font-size: 3rem;
  }

  .row {
    margin-bottom: 5px;
  }

  .card-title {
    display: flex;
    align-content: center;
  }

  .btn-flat i {
    color: inherit;
  }

  .device-button {
    background-color: $primary-color;
    color: #ffffff !important;
    width: 60%;
  }

  #last-checkin {
    margin-right: 0;
  }

  .view-checkins {
    position: absolute;
    right: 2rem;
  }

  .view-all {
    text-align: right;
  }

  .device-button-small {
    @extend .device-button;
    width: 40%;
  }

  .device-toggle {
    line-height: 36px;
    text-transform: none !important;
    margin-right: 0px !important;
    color: #000000 !important;
  }

  .editable {
    color: $primary-color-darker;
  }

  .inline-text {
    display: inline;
  }
  
  .linkbox {
    width: auto;
    height: inherit;
    border: 1px solid darkgrey;
    border-radius: 2px;
    margin: 2px;
    line-height: 36px;

    &:focus {
      @extend .linkbox;
      box-shadow: inherit;
    }
  }

  .delay-modal {
    height: 180px;
    width: 320px;
  }

  .delay-slider {
    width: 98%;
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
  }

  .enabled-icon {
    color: $primary-color-darker;
  }

  .modal {
    .enabled-icon {
      color: black;
    }
  }

  .disabled-icon {
    color: rgba(0,0,0,0.2);
  }

  .device-control {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .cloaked-info {
    font-size: 14px;
  }

  .icon-trigger {
    color: black;
    margin-right: 0.5rem;
  }

  .icon-modal {
    .choose-icon {
      color: grey !important;
    }
    .active {
      color: black !important;
    }
  }

  .icon-label {
    font-size: 13px;
    text-align: center;
  }

  #map-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 300px;
    border: 2px solid $primary-color-darker;
    border-radius: 10px;
    z-index: 1;
  }

  #map-status {
    // font-size: 1.4rem;
  }

  #find-checkin-row {
    display: flex;
    margin: 3% 10% 0 10%;
    justify-content: space-around;
  }

  #checkin_id {
    width: 60%;
  }
}
