@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

$lobster: 'Fira Sans';

.monospace{
  font-family: "Fira Mono", monospace;
  font-size: 1.1rem;
}

html {
  font-family: "Fira Sans", "Helvetica", sans-serif;
}

h1, .lobster {
  font-family: $lobster;
}

p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  text-align: left;
}

code {
  @extend .monospace;
}

pre {
  @extend .monospace;
  padding: 2rem;
  padding-left: 4rem;
}

table {
  font-size: 1.5rem;
}

