$brand: "Comfortaa", "Helvetica", sans-serif;

.monospace{
  font-family: "Fira Mono", monospace;
  font-size: 1.1rem;
}

.brand {
  font-family: $brand;
}

html {
  font-family: "Fira Sans", "Helvetica", sans-serif;
}

h1 {
  @extend .brand;
  text-align: center;
}
h2 {

}
h3 {

}
h4{

}
h5{

}
h6{
  
}

p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  text-align: left;
}

code {
  @extend .monospace;
}

pre {
  @extend .monospace;
  padding: 2rem;
  padding-left: 4rem;
}

table {
  font-size: 1.5rem;
}

