@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

$lobster: 'Lobster Two', cursive;

.monospace{
  font-family: "Fira Mono", monospace;
}

body {
  font-family: "Fira Sans", "Helvetica", sans-serif;
}

h1, .lobster { 
  font-family: $lobster;
}

.navbar-brand{
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

p, div {
  line-height: 2.5rem;
  font-size: 2rem;
}

code {
  @extend .monospace;
  font-size: 1.6rem;
}

pre {
  @extend .monospace;
  font-size: 1.6rem;
  padding: 2rem;
  padding-left: 4rem;
}

table {
  font-size: 1.5rem;
}

