.c-friends.a-show {
  #map-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  
  .title {
    font-size: 3rem;
  }

  #map {
    width:100%;
    height: 300px;
    border: 2px solid $primary-color-darker;
    border-radius: 10px;
    z-index: 1;
  }

  .card-panel {
    padding: 5px;
    margin: 0.25rem 0 0 0;
  }

  #map-status {
    // font-size: 1.4rem;
  }

  .center-map {
    margin-left: 0.6rem;
    color: $primary-color-darker;
    cursor: pointer;
  }
}
