.c-friends.a-show_device {

  #map {
    bottom: 0;
  }

  .leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, .8);
  }

  .leaflet-touch, .leaflet-control-fullscreen a {
    background-position: 0px 0px;
  }

}
