// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Fixed nav bar
.nav-wrapper{
  @extend .fixed;
  z-index: 10;

  // transparency transitions
  transition: all 0.5s ease;
}

main {
  flex: 1 0 auto;
  padding-top: 64px;
}

// Mobile navigation
.side-nav{
  .collapsible-header{
    padding: 0px;
    width: 100%;
  }
}

// Other layouts
.transparent-nav{
  background-color: rgba(0,0,0,0);
  box-shadow: none;

  a{
    @extend .dark-text;
  }
  .brand{
    @extend .dark-text;
  }
}

.landing-section{
  width: 100%;
  .row{
    margin-left: auto;
    margin-right: auto;
    .col{
      padding: 2rem;
    }
  }

  .parallax-container{
    height: 300px;
  }


  .image-container.iphone-map{
    height: 700px;
    overflow: hidden;
    img{
      height: 130%;
    }
  }
  .image-container.cloud-cp{
    height: auto;
    img{
      width: 100%;
    }
  }

  // Splash image/video
  &.splash{
    .valign{
      transform: translate(0, -10vh);

      .start-btn{
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }

    .parallax-container {
      height: 100vh;
      
      .parallax{
        opacity: 0.8;
      }
    }
  }

  // Apps using CoPosition section
  &.already-using{
    .app{
      height: 300px;
    }
  }
}