// Fixed top navbar
.nav-wrapper{
  @extend .fixed;
  z-index: 10;
  transition: all 0.5s ease;

  // Transparent navbar for landing page
  &.transparent-nav{
    background-color: rgba(0,0,0,0);
    box-shadow: none;

    a{
      @extend .dark-text;
    }

    .dropdown-content{
      background-color: rgba(255,255,255,0.9);
    }
  }

  // Normalize button appearance
  .btn{
    padding: 0;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    height: 42px;
    width: auto;

    svg{
      height: 100%;
      width: auto;
    }
  }

  // Customised left align menu items
  .left{
    height: 100%;
    width: auto;
    margin-left: 2.5rem;

    #brand-logo{
      width: 184px;
      height: 42px;

      @media screen and (max-width: 600px){
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media screen and (max-width: 600px){
      position: absolute;
      width: 100%;
      margin: 0;
    }
  }

  // Customised right align menu items
  .right{
    margin-right: 1.5rem;

    .settings-icon {
      height: 64px;
    }
  }
}


// Mobile navigation
.button-collapse{
  margin-left: 2.5%;
}

.side-nav{
  .collapsible-header{
    padding: 0px;
    width: 100%;
  }
}
