.permissions {
  .master-permissions {
    border: 2px solid lightgrey;
    margin-right: 0;
    margin-left: 0;
  }

  .master label {
    color: black;
  }

  .permissible-name {
  	margin-left: 10px;
  }

  .auth {
    font-size: 0.7rem;
  }

  .permission-divider {
    height: 5px;
    background-color: grey;
  }
}

