.placeholder{
  .bg-wrapper{
    height: 100%;
    // background-image: asset-url('background.jpg');
    background-size: cover;
  }

  .bg-ribbon{
    background-color: hsla(0,0%,100%, .5);
    width: 100%;
  }

  svg {
    margin: 2em;
  }
}
