h5:hover {
  text-shadow:1px 1px 20px black;
	background-color: rgba(88, 69, 69, 0.5);
}

h5 {
  padding: 10px;
  border: 1px solid white;
  width: 35%;
}

#placeholderTitle {
    color: white;
    width: 30%;
    border: 1px solid white;
    background-color: rgba(88,69,69,0.5);
}
