html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Montserrat', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.placeholder {

  #quicklinks {

    // font-size and padding
    $quicklinks-size: 0.7rem;

    background: black;
    color: white;
    text-transform: uppercase;
    font-size: $quicklinks-size;
    padding: $quicklinks-size 0;

    .items-left {
      text-align: left;
      > * {
        margin-right: $quicklinks-size;
      }
    }

    .items-right {
      text-align: right;
      > * {
        margin-left: $quicklinks-size;
      }
    }
  }

  #top-menu {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;

    .top-menu-left {
      display: flex;
      align-items: center;

      .brandname {
        @extend .font-heavy;
        font-size: 1.4rem;
      }
    }
    .top-menu-right {
      text-align: right;
      > * {
        margin-left: 2rem;
        font-size: 1rem;
      }
    }
  }

  #take-control {
    background: image-url('bg.jpg');
    background-size: cover;
    position: relative;
    overflow-x: hidden;;
    .valign-wrapper {
      justify-content: center;
    }

    .ringed-logo {
      position: absolute;
      top: 0;
      left: calc(50vw - 600px);
      z-index: 10;
    }

    .phones, .content {
      position: relative;
      z-index: 100;
    }

    .content {
      color: white;

      .l-wrapper {
        margin-top: 260px;
        margin-bottom: 1rem;
        width: 50%;

        .title {
          @extend .font-heavy;
          font-size: 2.2rem;
        }

        .pitch {
          @extend .font-light;
          font-size: 1.2rem;
        }
      }
    }
  }

  #callouts {
    display: flex;
    color: white;
    text-align: center;

    > .cell {
      padding: 5em 2em;
      background: #252525;

      .title {
        font-size: 1rem;
      }

      .text {
        @extend .font-light;
        font-size: 1rem;
        color: #959595;
      }

    }

    > .cell-contrast {
      background: #1a1a1a;
    }

  }

  #location-map {
    display: flex;
    height: 75vh;
    background-image: linear-gradient(90deg, #08244f, #1d727a);
    color: white;

    .caption {
      @extend .font-heavy;
      font-size: 1.8rem;
    }

    .btn {
      background: #fb1d4f;
    }

    .map {
      background-image: image-url('location-callout-map.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

  }

  #benefits {
    text-align: center;
    padding: 5em 0;
    color: white;
    background: #252525;

    .tagline {
      @extend .font-light;
    }

    .cell {
      padding: 0 2rem;

      .cell-title {
        font-size: 1rem;
      }

      .cell-description {
        font-size: 1rem;
        @extend .font-light;
        color: #959595;
      }
    }
  }

  #get-enabled {
    height: 75vh;
    background-image: image-url('enabled-tile.png'), linear-gradient(#dbfdff 10%, rgba(224, 255, 255, 0.3), #dbfdff);
    background-blend-mode: overlay;
    position: relative;

    .valign-wrapper {
      justify-content: center;
    }

    .card {
      background: white;
      box-shadow: 0 3px 4px darkgray;
      text-align: center;
      padding: 0 6rem;
      max-width: 40rem;

      .card-title {
        font-size: 2rem;
      }

      .card-pitch, .card-description {
        @extend .font-light;
      }

      .card-pitch {
        font-size: 1.3rem;
      }

      .card-description {
        font-size: 0.9rem;
      }
    }
  }

  #bottom-callout {
    background-image: image-url('logo-rings-footer'), linear-gradient(90deg, #08244f, #1d727a);
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    height: 75vh;
    position: relative;

    .wrapper {
      max-width: 40rem;
      text-align: center;
      position: relative;
      top: 14rem;
      margin: 0 auto;

      :first-child {
        margin-top: 0;
      }

      .wrapper-pitch {
        font-size: 1.3rem;
      }

      .wrapper-description {
        @extend .font-medium;
        font-size: 1.2rem;
        color: #008ecf;
      }
    }
  }

  #bottom-bar {
    text-align: center;
    background: #141414;
    color: white;
    padding: 3rem 0;

    .copy-notice {
      font-size: 0.8rem;
      @extend .font-light;
    }
  }
}

// base styling

a {
  text-decoration: none;
  color: inherit;
}

// button code

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 2px;
  border-radius: 5px;

  &.btn-primary {
    background: #34c946;
  }

  &.btn-blue {
    background: #008ecf;
  }

  // &.btn-alternate {
  //   background: #fb1d4f;
  // }

  &.btn-inverse {
    color: #279ac5;
    border: solid 2px #279ac5;
  }

  &.btn-large {
    padding: 1rem 1.5rem;
  }
}

// font stuff

.font-heavy {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.font-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

// other helpers

.valign-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.valign {
  display: inline-block;
}

// Grid stuff
// Should be split into it's own file in the future.

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-7,
.pure-u-2-7,
.pure-u-3-7,
.pure-u-4-7,
.pure-u-5-7,
.pure-u-6-7,
.pure-u-1-14,
.pure-u-2-14,
.pure-u-3-14,
.pure-u-4-14,
.pure-u-5-14,
.pure-u-6-14,
.pure-u-7-14,
.pure-u-8-14,
.pure-u-9-14,
.pure-u-10-14,
.pure-u-11-14,
.pure-u-12-14,
.pure-u-13-14,
.pure-u-14-14 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-14 {
  width: 7.1429%;
  *width: 7.1119%;
}

.pure-u-1-7,
.pure-u-2-14 {
  width: 14.2857%;
  *width: 14.2547%;
}

.pure-u-3-14 {
  width: 21.4286%;
  *width: 21.3976%;
}

.pure-u-2-7,
.pure-u-4-14 {
  width: 28.5714%;
  *width: 28.5404%;
}

.pure-u-5-14 {
  width: 35.7143%;
  *width: 35.6833%;
}

.pure-u-3-7,
.pure-u-6-14 {
  width: 42.8571%;
  *width: 42.8261%;
}

.pure-u-1-2,
.pure-u-7-14 {
  width: 50%;
  *width: 49.9690%;
}

.pure-u-4-7,
.pure-u-8-14 {
  width: 57.1429%;
  *width: 57.1119%;
}

.pure-u-9-14 {
  width: 64.2857%;
  *width: 64.2547%;
}

.pure-u-5-7,
.pure-u-10-14 {
  width: 71.4286%;
  *width: 71.3976%;
}

.pure-u-11-14 {
  width: 78.5714%;
  *width: 78.5404%;
}

.pure-u-6-7,
.pure-u-12-14 {
  width: 85.7143%;
  *width: 85.6833%;
}

.pure-u-13-14 {
  width: 92.8571%;
  *width: 92.8261%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-14-14 {
  width: 100%;
}

@media screen and (min-width: 35.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-7,
  .pure-u-sm-2-7,
  .pure-u-sm-3-7,
  .pure-u-sm-4-7,
  .pure-u-sm-5-7,
  .pure-u-sm-6-7,
  .pure-u-sm-1-14,
  .pure-u-sm-2-14,
  .pure-u-sm-3-14,
  .pure-u-sm-4-14,
  .pure-u-sm-5-14,
  .pure-u-sm-6-14,
  .pure-u-sm-7-14,
  .pure-u-sm-8-14,
  .pure-u-sm-9-14,
  .pure-u-sm-10-14,
  .pure-u-sm-11-14,
  .pure-u-sm-12-14,
  .pure-u-sm-13-14,
  .pure-u-sm-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  .pure-u-sm-1-7,
  .pure-u-sm-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  .pure-u-sm-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  .pure-u-sm-2-7,
  .pure-u-sm-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  .pure-u-sm-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  .pure-u-sm-3-7,
  .pure-u-sm-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  .pure-u-sm-1-2,
  .pure-u-sm-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-sm-4-7,
  .pure-u-sm-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  .pure-u-sm-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  .pure-u-sm-5-7,
  .pure-u-sm-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  .pure-u-sm-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  .pure-u-sm-6-7,
  .pure-u-sm-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  .pure-u-sm-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-14-14 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-7,
  .pure-u-md-2-7,
  .pure-u-md-3-7,
  .pure-u-md-4-7,
  .pure-u-md-5-7,
  .pure-u-md-6-7,
  .pure-u-md-1-14,
  .pure-u-md-2-14,
  .pure-u-md-3-14,
  .pure-u-md-4-14,
  .pure-u-md-5-14,
  .pure-u-md-6-14,
  .pure-u-md-7-14,
  .pure-u-md-8-14,
  .pure-u-md-9-14,
  .pure-u-md-10-14,
  .pure-u-md-11-14,
  .pure-u-md-12-14,
  .pure-u-md-13-14,
  .pure-u-md-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  .pure-u-md-1-7,
  .pure-u-md-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  .pure-u-md-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  .pure-u-md-2-7,
  .pure-u-md-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  .pure-u-md-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  .pure-u-md-3-7,
  .pure-u-md-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  .pure-u-md-1-2,
  .pure-u-md-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-md-4-7,
  .pure-u-md-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  .pure-u-md-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  .pure-u-md-5-7,
  .pure-u-md-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  .pure-u-md-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  .pure-u-md-6-7,
  .pure-u-md-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  .pure-u-md-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-14-14 {
    width: 100%;
  }
}

@media screen and (min-width: 64em) {
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-7,
  .pure-u-lg-2-7,
  .pure-u-lg-3-7,
  .pure-u-lg-4-7,
  .pure-u-lg-5-7,
  .pure-u-lg-6-7,
  .pure-u-lg-1-14,
  .pure-u-lg-2-14,
  .pure-u-lg-3-14,
  .pure-u-lg-4-14,
  .pure-u-lg-5-14,
  .pure-u-lg-6-14,
  .pure-u-lg-7-14,
  .pure-u-lg-8-14,
  .pure-u-lg-9-14,
  .pure-u-lg-10-14,
  .pure-u-lg-11-14,
  .pure-u-lg-12-14,
  .pure-u-lg-13-14,
  .pure-u-lg-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lg-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  .pure-u-lg-1-7,
  .pure-u-lg-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  .pure-u-lg-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  .pure-u-lg-2-7,
  .pure-u-lg-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  .pure-u-lg-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  .pure-u-lg-3-7,
  .pure-u-lg-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  .pure-u-lg-1-2,
  .pure-u-lg-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-lg-4-7,
  .pure-u-lg-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  .pure-u-lg-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  .pure-u-lg-5-7,
  .pure-u-lg-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  .pure-u-lg-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  .pure-u-lg-6-7,
  .pure-u-lg-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  .pure-u-lg-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-14-14 {
    width: 100%;
  }
}

@media screen and (min-width: 80em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-7,
  .pure-u-xl-2-7,
  .pure-u-xl-3-7,
  .pure-u-xl-4-7,
  .pure-u-xl-5-7,
  .pure-u-xl-6-7,
  .pure-u-xl-1-14,
  .pure-u-xl-2-14,
  .pure-u-xl-3-14,
  .pure-u-xl-4-14,
  .pure-u-xl-5-14,
  .pure-u-xl-6-14,
  .pure-u-xl-7-14,
  .pure-u-xl-8-14,
  .pure-u-xl-9-14,
  .pure-u-xl-10-14,
  .pure-u-xl-11-14,
  .pure-u-xl-12-14,
  .pure-u-xl-13-14,
  .pure-u-xl-14-14 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-14 {
    width: 7.1429%;
    *width: 7.1119%;
  }

  .pure-u-xl-1-7,
  .pure-u-xl-2-14 {
    width: 14.2857%;
    *width: 14.2547%;
  }

  .pure-u-xl-3-14 {
    width: 21.4286%;
    *width: 21.3976%;
  }

  .pure-u-xl-2-7,
  .pure-u-xl-4-14 {
    width: 28.5714%;
    *width: 28.5404%;
  }

  .pure-u-xl-5-14 {
    width: 35.7143%;
    *width: 35.6833%;
  }

  .pure-u-xl-3-7,
  .pure-u-xl-6-14 {
    width: 42.8571%;
    *width: 42.8261%;
  }

  .pure-u-xl-1-2,
  .pure-u-xl-7-14 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-xl-4-7,
  .pure-u-xl-8-14 {
    width: 57.1429%;
    *width: 57.1119%;
  }

  .pure-u-xl-9-14 {
    width: 64.2857%;
    *width: 64.2547%;
  }

  .pure-u-xl-5-7,
  .pure-u-xl-10-14 {
    width: 71.4286%;
    *width: 71.3976%;
  }

  .pure-u-xl-11-14 {
    width: 78.5714%;
    *width: 78.5404%;
  }

  .pure-u-xl-6-7,
  .pure-u-xl-12-14 {
    width: 85.7143%;
    *width: 85.6833%;
  }

  .pure-u-xl-13-14 {
    width: 92.8571%;
    *width: 92.8261%;
  }

  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-14-14 {
    width: 100%;
  }
}
