.c-registrations.a-new {
  a.link {
    color: $primary-color;
    text-decoration: underline;
  }

  .promo {
    bottom: -20px;
    @media screen and (max-width: 660px){
      bottom: -100px;
    }
  }
}

.c-registrations.a-edit {
  .hidden {
    position: absolute;
    z-index: -1000;
  }
}
