.c-registrations.a-new {
  background-color: transparent;

  a.link {
    color: $primary-color;
    text-decoration: underline;
  }

  .promo {
    bottom: -20px;
    @media screen and (max-width: 660px){
      bottom: -100px;
    }
  }
}

.c-registrations.a-edit {
  .hidden {
    position: absolute;
    z-index: -1000;
  }

  .help-icon {
    left: 0.8rem;
    top: 0.8rem;
    position: relative;
  }
}
