.c-release_notes.a-index {
  .tag {
    border-radius: 5px;
    color: white;
    padding: 2px;
    min-width: 3rem;
    text-align: center;
    display: inline-block;
    opacity: 0.3;
  }
  .web {
    background-color: $primary-color-darker;
  }
  .api {
    background-color: $secondary-color-darker;
  }
  .mobile {
    background-color: #008000;
  }
  .clear {
    position: absolute;
    color: red;
  }
}
