.c-dashboards.a-show {

  nav {
    z-index: 10000;
  }

  #map {
    width:100%;
    height: 300px;
  }

  .dashboard{

    #most-checkins, ul.collection{
      margin: 0;

      ul.collection, ul.collection li {
        background: transparent;
        border: none;
      }
    }
  }

}
