.c-dashboards.a-show {
  nav, #mobile-nav {
    z-index: 10000;
  }

  #sidenav-overlay {
    z-index: 9999;
  }

  table td, th {
    padding: 2px 5px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  #map-overlay {
    position: absolute;
    z-index: 1500;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 300px;

    .leaflet-marker-icon {
      cursor: inherit;
      outline: 0;

      &.leaflet-clickable {
        cursor: pointer;
      }
    }
  }

  #map-status {
    // font-size: 1.4rem;
  }

  .dashboard {

    .address {
      font: 0.7rem Fira Mono;
      margin-bottom: 1em;
      white-space: pre;
    }

    #most-checkins, ul.collection{
      margin: 0;

      ul.collection, ul.collection li {
        background: transparent;
        border: none;
      }
    }
  }

}
