.c-dashboards.a-show {

  table td, th {
    padding: 2px 5px;
    font-size: 1.2rem;
    font-weight: normal;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  #map-overlay {
    position: absolute;
    z-index: 1500;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.85;
    padding: 1rem;

    div {
      width: 100%;
    }
  }
  #map {
    width:100%;
    height: 300px;
    border: 2px solid $primary-color-darker;
    border-radius: 10px;
    z-index: 1;

    .leaflet-marker-icon {
      cursor: inherit;
      outline: 0;

      &.leaflet-clickable {
        cursor: pointer;
      }
    }
  }

  #checkin_id {
    margin-right: 2rem;
  }

  #map-status {
    // font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard {

    .address {
      font: 0.7rem Fira Mono;
      margin-bottom: 1em;
      white-space: pre;
    }

    #most-checkins, ul.collection{
      margin: 0;

      ul.collection, ul.collection li {
        background: transparent;
        border: none;
      }
    }
  }

}
