.c-dashboards.a-show {
  nav {
    z-index: 10000;
  }

  #map {
    width:100%;
    height: 300px;

    .leaflet-marker-icon {
      cursor: inherit;
      outline: 0;
    }
    .leaflet-marker-icon.leaflet-clickable {
      cursor: pointer;
    }
  }

  .dashboard {

    .address {
      font: 0.7rem Fira Mono;
      margin-bottom: 1em;
      white-space: pre;
    }

    #most-checkins, ul.collection{
      margin: 0;

      ul.collection, ul.collection li {
        background: transparent;
        border: none;
      }
    }
  }

}
