.c-dashboards.a-show {

  nav {
    z-index: 10000;
  }

  #map {
    width:100%;
    height: 300px;
  }

  .dashboard{

    #most-checkins{
      margin-top: 1em;

      .collection-header{
        background-color: white;
        padding: 10px 20px;
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }

}
