.c-welcome.a-help {
  .table-of-contents {
    position: fixed;
  }

  a.link {
    color: $primary-color;
  }

  ul.browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  ul.browser-default li {
    list-style-type: decimal;
  }
}
