.c-welcome.a-index{
  #top-menu {
    display: block;
  }
  
  .landing-section{
    width: 100%;

    // Initialize a few default containers
    .row{
      margin-left: auto;
      margin-right: auto;

      .col{
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
    .parallax-container{
      height: 500px;

      @media screen and (orientation:portrait) and (max-width: 600px){
        height: 200px;
      }
      @media screen and (orientation:landscape) and (max-width: 992px){
        height: 200px;
      }

      @media screen and (orientation:portrait) and (max-width: 992px){
        height: 300px;
      }
    }
    .image-container{
      opacity:0;

      &.iphone-map{
        height: 700px;
        overflow: hidden;
        img{
          height: 130%;
        }

        @media screen and (max-width: 600px){
          img{
            height: auto;
            width: 100%;
          }
          max-height: 400px;
          overflow:hidden;
          padding-top:0;
          padding-bottom:0;
        }
      }
      &.cloud-cp{
        height: auto;
        img{
          width: 100%;
        }
      }
    }

    // Splash image/video
    &.splash{
      .valign{
        .start-btn{
          margin-top: 1rem;
          height: 50px;
          width: auto;
          cursor: pointer;
        }

        @media screen and (orientation:portrait) and (max-width: 600px){
          h1{
            margin-top: 0.5rem;
            margin-bottom: 0.2rem;
          }

          svg{
            width: 40%;
            height: auto;
          }

          .start-btn{
            width: 60%;
          }
        }

        @media screen and (orientation:landscape) and (max-width: 992px){
          margin-top: 4rem;

          h1{
            margin-top: 0.5rem;
            margin-bottom: 0.2rem;
          }

          svg{
            width: 25%;
            height: auto;
          }

          .start-btn{
            margin-top: 0.5rem;
            width: 30%;
          }
        }
      }

      .parallax-container {
        height: 100vh;

        .parallax{
          opacity: 0.8;
        }
      }
    }

    // Promotion points
    &.promotion{
      padding-top: 2.5rem;
      padding-bottom: 4rem;

      .card{
        padding: 2rem;
        cursor: pointer;
      }


      @media screen and (max-width: 600px){
        & > .row{
          margin-bottom: 0;

          & > .col{
            padding-bottom: 0;
          }
        }   
      }

      .active{
        @extend .primary-color;
        transition: all 0.2s ease;

        h4, i{
          color: darken($primary-color-darker, 30%);
        }
      }
    }

    // General intro to feaatures
    &.full-width{
      padding: 2rem;
      padding-top: 3rem;
      padding-bottom: 4rem;

      &#start{
        @extend .primary-color.lighten;
        padding-bottom: 0;

        article.row{
          margin-bottom: 0;
        }

        form{
          padding: 0;

          input[type="text"]::-webkit-input-placeholder{
            @extend .dark-text.hint;
          }
        }

        #get-started{
          font-size: 1.3rem;
        }
      }
    }

    // Apps using CoPosition section
    &.already-using{
      padding-top: 2.5rem;
      padding-bottom: 4rem;

      .app{
        // height: 300px;
      }
    }

    @media screen and (max-width: 600px){
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

  }

  footer.page-footer{
    margin-top: 0;
  }

  video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }
}
