= form_for @checkin, url: { action: "create" }, html: { class: "col s12" } do |f|
  .row
    .col.s12
      = f.label :lat, "Latitude", class: "active"
      = f.text_field :lat, autofocus: true
  .row
    .col.s12
      = f.label :lng, "Longitude", class: "active"
      = f.text_field :lng
  = f.button "Check-in", type: "submit", class: "btn waves-effect waves-light"
.row
  .col.s12.m6.l6.container
    img#mapholder.round-map.animated.rotateIn  
