var checkin = _.find(gon.checkins, _.matchesProperty('id',<%= @checkin.id %>));
checkin.address = '<%= j @checkin.address %>'

var $geocodedAddress = '<li class="address">Address: <%= j @checkin.address %></li>'
$('.address').replaceWith($geocodedAddress);
