$('#gonvariables').html("<%= j Gon::Base.render_data %>")

var $geocodedAddress = '<li class="address">Address: <%= j @checkin.address %></li>'
$('.address').replaceWith($geocodedAddress);
COPO.maps.queueRefresh(gon.checkins);
COPO.charts.refreshCharts(gon.checkins, 'user');
