<div class="input-field col s4">
  <select class='privilege'>
    <%= permissions_privilege_options(@permission) %>
  </select>
  <label>Privilege Level</label>
</div>
<div class="switch col s3 bf" name='bypass_fogging'>
  <label>
    <%= permissions_fogging_checkbox(@permission) %>
    <span class="lever"></span>
    Bypass Fogging
  </label>
</div>
<div class="switch col s3 sh" name='show_history'>
  <label>
    <%= permissions_history_checkbox(@permission) %>
    <span class="lever"></span>
    Show History
  </label>
</div>