<div class="input-field col s4">
<%= select_tag "privilege", options_for_select({"Complete" => "complete", "Last only" => "last_only", "Disallowed" => "disallowed"}, @permission.privilege), class: 'privilege browser-default'%>
</div>
<div class="switch col s3 bf" name='bypass_fogging'>
  <label>
    <%= check_box_tag 'bypass_fogging','', @permission.bypass_fogging %>
    <span class="lever"></span>
    Bypass Fogging
  </label>
</div>
<div class="switch col s3 sh" name='show_history'>
  <label>
    <%= check_box_tag 'show_history','', @permission.show_history %>
    <span class="lever"></span>
    Show History
  </label>
</div>